---
import SectionHeader from "@components/common/SectionHeader";
---

<section class="w-full bg-white pt-[120px] pb-16">
  <div class="xl:container xl:mx-auto px-4 md:px-20">
    <SectionHeader
      title="About Us"
      description="We're on a mission to bridge the gap between textbook Arabic and the language that's actually spoken on the street."
      titleClassName="text-[#272727]"
      descriptionClassName="text-gray-600 font-SpaceGrotesk text-md md:text-xl lg:w-[70%] md:w-[80%]"
      client:load
    />
  </div>
</section>
