@mixin main_btn($color: $white, $backgroundColor: $primaryColor, $font-size: 20px, $border-radius: 10px, $width: 335px, $height: 50px) {
    
    display: block;
    width: $width;
    height: $height;
    line-height: $height;
    color: $color;
    background-color: $backgroundColor;
    font-size: $font-size;
    font-family: $thirdFont;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    border: 0;
    border-radius: $border-radius;
    transition: all 150ms ease-in-out;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0px 3px 0px 0px rgba(88, 54, 133, 1);


    &:hover,
    &.active {
        background-color: $color;
        color: $backgroundColor;
    }
}

@mixin title($font-size: 20px, $color: $black, $text-align: start,) {
    width: 100%;
    height: 24px;
    line-height: 24px;
    text-align: $text-align;
    font-family: $mainFont;
    font-weight: 700;
    font-size: $font-size;
    color: $color;
}

@mixin subTitle($font-size: 17px, $color: $black, $text-align: start,) {
    width: 100%;
    height: 20px;
    line-height: 20px;
    text-align: $text-align;
    font-family: $secondaryFont;
    font-weight: 400;
    font-size: $font-size;
    color: $color;
}

@mixin dialectTitle($font-size: 20px) {
    font-family: $mainFont;
    font-weight: 600;
    font-size: $font-size;
    text-align: start;
    color: $black;
}

@mixin themeTitle($font-size: 17px) {
    font-family: $satoshiFont;
    font-weight: 700;
    font-size: $font-size;
    text-align: start;
    color: $white;
}

@mixin themeText($font-size: 14px) {
    font-family: $secondaryFont;
    font-weight: 700;
    font-size: $font-size;
    text-align: start;
    color: $white;
}

@mixin mainText($font-size: 20px, $color: $black) {
    font-family: $mainFont;
    font-weight: 600;
    font-size: $font-size;
    text-align: start;
    color: $color;

    &.arabic {
        font-family: $SFCompactFont;
    }
}

@mixin translationText($font-size: 20px, $color: $secondary200) {
    font-family: $mainFont;
    font-weight: 500;
    font-size: $font-size;
    text-align: start;
    color: $color;
}