---
import MarqueeStrip from "@components/sections/Home/MarqueeStrip";
import ExperienceAralects from "../components/sections/Home/ExperienceAralects";
import FAQs from "../components/sections/Home/Faqs";
import SocialSidebar from "../components/sections/Home/SocialSidebar";

import Layout from "../layouts/Layout.astro";
import WhyAralects from "../components/sections/Home/WhyAralects.astro";
import ArabicAsComunity from "@components/sections/Home/ArabicAsComunity.astro";
import OurTeam from "../components/sections/Home/OurTeam.astro";
import { AnimatedHero } from "@/components/animated/hero/animated-hero";
import AnimatedHero2 from "@/components/animated/hero/animated-hero-2";
---

<Layout>
  <SocialSidebar className="absolute left-4 z-10 top-[200px]" />
  <AnimatedHero client:load />

  <AnimatedHero2 client:load />

  <div class="relative overflow-hidden">
    <div class="bg-[#272727]">
      <WhyAralects />
      <ArabicAsComunity />
      <OurTeam />
    </div>
  </div>
  <MarqueeStrip />
  <div class="relative xl:container xl:mx-auto">
    <FAQs client:load />
    <ExperienceAralects client:visible />
  </div>
</Layout>
