---
import MarqueeStrip from "@components/sections/Home/MarqueeStrip";
import ExperienceAralects from "../components/sections/Home/ExperienceAralects";
import FAQs from "../components/sections/Home/Faqs";
import OurTeam from "../components/sections/Home/OurTeam.astro";
import SocialSidebar from "../components/sections/Home/SocialSidebar";
import WhyAralects from "../components/sections/Home/WhyAralects.astro";
import KeyFeatures from "@components/sections/Home/KeyFeatures.astro";
import Dialects from "@components/sections/Home/Dialects.astro";
import Layout from "../layouts/Layout.astro";
import ArabicAsComunity from "@components/sections/Home/ArabicAsComunity.astro";
import { AnimatedHero } from "@/components/animated/animated-hero";

// move this to the layout component if you want to use it on all pages
import BasicScripts from "@components/common/BasicScripts.astro";
import Blogs from "../components/sections/Home/Blogs.astro";
---

<Layout>
  <SocialSidebar className="absolute left-4 z-10 top-[200px]" />
  <AnimatedHero client:load />

  <div class="relative overflow-hidden">
    <div class="bg-[#272727]">
      <svg class="absolute" width="868" height="1348" viewBox="0 0 868 1348" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0_f_5182_2221)">
          <ellipse cx="204.5" cy="674" rx="363.5" ry="374" fill="#EF5376" fill-opacity="0.2"/>
        </g>
        <defs>
          <filter id="filter0_f_5182_2221" x="-459" y="0.00012207" width="1327" height="1348" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
            <feGaussianBlur stdDeviation="150" result="effect1_foregroundBlur_5182_2221"/>
          </filter>
        </defs>
      </svg>

      <svg class="absolute right-[-50%] top-[10%]" width="1327" height="1348" viewBox="0 0 1327 1348" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0_f_7037_1402)">
          <ellipse cx="663.5" cy="674" rx="363.5" ry="374" fill="#EF5376" fill-opacity="0.2"/>
        </g>
        <defs>
          <filter id="filter0_f_7037_1402" x="0" y="0" width="1327" height="1348" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
            <feGaussianBlur stdDeviation="150" result="effect1_foregroundBlur_7037_1402"/>
          </filter>
        </defs>
      </svg>

      <!--<WhyAralects />-->
      <KeyFeatures />
      <!--<ArabicAsComunity />-->
      <Blogs />
      <Dialects />
      <!--<OurTeam />-->
    </div>
  </div>
  <MarqueeStrip />
  <div class="relative xl:container xl:mx-auto">
    <FAQs client:load />
    <ExperienceAralects client:visible />
  </div>
  <BasicScripts />
</Layout>
