---
import MarqueeStrip from "@components/sections/Home/MarqueeStrip";
import ExperienceAralects from "../components/sections/Home/ExperienceAralects";
import FAQs from "../components/sections/Home/Faqs";
import HeroSection from "../components/sections/Home/HeroSection";
import OurTeam from "../components/sections/Home/OurTeam";
import SocialSidebar from "../components/sections/Home/SocialSidebar";
import TextSection from "../components/sections/Home/TextSection";
import WhyAralects from "../components/sections/Home/WhyAralects";
import Layout from "../layouts/Layout.astro";
import ArabicAsComunity from "@components/sections/Home/ArabicAsComunity.astro";
---

<Layout>
  <SocialSidebar className="absolute left-4 z-10 top-[200px]" />
  <div class="relative xl:container xl:mx-auto">
    <HeroSection client:visible />
    <TextSection />
    <div class="bg-[#8262b0] bg-opacity-90 rounded-t-[2rem]">
      <WhyAralects />
      <ArabicAsComunity />
      <OurTeam client:visible />
    </div>
  </div>
  <MarqueeStrip />
  <FAQs client:load />
  <ExperienceAralects client:visible />
</Layout>
