---

import HomepageSlider from "@components/ui/HomepageSlider";
---

  <section class="m-auto w-full overflow-hidden text-white xl:container xl:mx-auto">
    <div class="my-[30px] w-full px-5 text-start md:my-[60px] md:px-20">
      <h2 class="font-LivvicMedium text-center text-2xl font-bold md:text-5xl intersect-once transition motion-safe:opacity-0 motion-safe:intersect:animate-fade-in-up">
        Discover What Makes
      </h2>
      <h2 class="font-LivvicMedium text-center text-2xl font-bold md:text-5xl intersect-once transition motion-safe:opacity-0 motion-safe:intersect:animate-fade-in-up">
        <span class="text-glow-xl">Aralects</span> Unique
      </h2>
      <div class="mt-[40px]">
        <p class="font-SpaceGroteskLight mt-6 font-thin text-gray-300 md:text-xl intersect-once transition motion-safe:opacity-0 motion-safe:intersect:animate-fade-in-up">
          Let’s be honest, learning Arabic today is challenging. Most apps focus on rigid lessons and miss the immersive, real-world conversations that bring Arabic to life.
        </p>
        <p class="text-glow font-SpaceGroteskLight mt-4 font-light text-[#EADFFF] md:text-xl intersect-once transition motion-safe:opacity-0 motion-safe:intersect:animate-fade-in-up">
          Aralects is changing that. We’re creating an app that transforms how you connect with the language.
        </p>
      </div>
      <div class="flex justify-center mt-[80px] ">
        <div class="relative max-w-full">

          <img
            src="/img/homepage-promo-1.png"
            alt=""
            class="object-contain max-w-[230px] md:max-w-[260px] mx-auto"
          />
          <div class="lg:hidden block">
            <HomepageSlider isFirstPromo client:load />
          </div>
          <div class="lg:block hidden">
            <div class="absolute top-[50px] right-[-330px]">
              <div class="w-[126px] h-[23px] border-t-[1px] border-r-[1px] border-white"></div>
              <div class="pl-[95px] pt-[5px]">
                <img
                  src="/img/homepage-promo-1-script.png"
                  alt=""
                  class="object-contain max-w-[60px]"
                />
                <div class="font-LivvicMedium mt-1 text-glow-xl text-md font-bold md:text-lg intersect-once transition motion-safe:opacity-0 motion-safe:intersect:animate-fade-in-up">
                  Script Settings
                </div>
                <p class="font-SpaceGroteskLight mt-1 font-thin text-white md:text-md intersect-once transition motion-safe:opacity-0 motion-safe:intersect:animate-fade-in-up">
                  Switch seamlessly between the Arabic<br> and Latin alphabet, or both at once, <br> so you can learn in the format that <br> feels most natural to you, and that <br> helps you meet your goals.
                </p>
              </div>

            </div>


            <div class="absolute top-[160px] left-[-250px]">
              <div class="w-[103px] ml-[180px] h-[122px] border-t-[1px] border-l-[1px] border-white"></div>
              <div class=" pt-[5px]">
                <img
                  src="/img/homepage-promo-1-prompt.png"
                  alt=""
                  class="object-contain max-w-[236px] translate-x-[-10px]"
                />
                <div class="font-LivvicMedium mt-1 text-glow-xl text-md font-bold md:text-lg intersect-once transition motion-safe:opacity-0 motion-safe:intersect:animate-fade-in-up">
                  AI-Powered Customization
                </div>
                <p class="font-SpaceGroteskLight mt-1 font-thin text-white md:text-md intersect-once transition motion-safe:opacity-0 motion-safe:intersect:animate-fade-in-up">
                  Chat with your personal tutor <br> to customize lessons that fit <br> your immediate needs and <br> interests—right when you <br> need them. Update your focus <br> anytime, and your plan instantly <br> adapts.
                </p>
              </div>

            </div>

            <div class="absolute flex top-[30px] left-[-350px]">
              <div class=" pt-[5px]">
                <img
                  src="/img/homepage-promo-1-dialects.png"
                  alt=""
                  class="object-contain max-w-[236px] translate-x-[-10px]"
                />
                <div class="font-LivvicMedium mt-1 text-glow-xl text-md font-bold md:text-lg intersect-once transition motion-safe:opacity-0 motion-safe:intersect:animate-fade-in-up">
                  Main & Secondary Dialects
                </div>
                <p class="font-SpaceGroteskLight mt-1 font-thin text-white md:text-md intersect-once transition motion-safe:opacity-0 motion-safe:intersect:animate-fade-in-up">
                  Pick your primary and secondary <br> dialect, and see vocabulary and <br> phrases displayed side-by-side in <br> every lesson—making comparisons <br> effortless and learning faster.
                </p>
              </div>
              <div class="w-[133px] h-[0px] mt-[30px] border-t-[1px] border-l-[1px] border-white"></div>


            </div>
          </div>


        </div>

      </div>


      <div class="flex justify-center mt-[90px] lg:mt-[150px] mb-[130px]">
        <div class="relative max-w-full">

          <img
            src="/img/homepage-promo-2.png"
            alt=""
            class="object-contain max-w-[230px] md:max-w-[260px] mx-auto"
          />

          <div class="lg:hidden block">
            <HomepageSlider client:load />
          </div>

          <div class="lg:block hidden">
            <div class="absolute top-[15px] right-[-340px]">
              <div class="pl-[95px] pb-[5px]">
                <img
                  src="/img/homepage-promo-2-audio.png"
                  alt=""
                  class="object-contain max-w-[60px] translate-x-[-12px]"
                />
                <div class="font-LivvicMedium mt-1 text-glow-xl text-md font-bold md:text-lg intersect-once transition motion-safe:opacity-0 motion-safe:intersect:animate-fade-in-up">
                  Audio Pronunciation
                </div>
                <p class="font-SpaceGroteskLight mt-1 font-thin text-white md:text-md intersect-once transition motion-safe:opacity-0 motion-safe:intersect:animate-fade-in-up">
                  Hear every word and phrase spoken <br> by native speakers for authentic <br> pronunciation and natural rhythm.
                </p>
              </div>
              <div class="w-[126px] h-[23px] border-b-[1px] border-r-[1px] border-white"></div>


            </div>

            <div class="absolute flex top-[315px] right-[-420px]">
              <div class="w-[126px] mt-[25px] h-[0] border-b-[1px] border-r-[1px] border-white"></div>

              <div class="pl-[5px] pb-[5px]">
                <img
                  src="/img/homepage-promo-2-explain.png"
                  alt=""
                  class="object-contain max-w-[100px] translate-x-[-12px]"
                />
                <div class="font-LivvicMedium mt-1 text-glow-xl text-md font-bold md:text-lg intersect-once transition motion-safe:opacity-0 motion-safe:intersect:animate-fade-in-up">
                  “Explain Answer” Feature
                </div>
                <p class="font-SpaceGroteskLight mt-1 font-thin text-white md:text-md intersect-once transition motion-safe:opacity-0 motion-safe:intersect:animate-fade-in-up">
                  Tap the chat icon to get an AI-powered <br> breakdown of your answer—perfect for <br> learners who want deeper insights <br> and context.
                </p>
              </div>


            </div>


            <div class="absolute top-[135px] left-[-280px]">
              <div class="pb-[5px]">
                <img
                  src="/img/homepage-promo-2-dialect.png"
                  alt=""
                  class="object-contain max-w-[190px] translate-x-[-12px]"
                />
                <div class="font-LivvicMedium mt-1 text-glow-xl text-md font-bold md:text-lg intersect-once transition motion-safe:opacity-0 motion-safe:intersect:animate-fade-in-up">
                  Secondary Dialect
                </div>
                <p class="font-SpaceGroteskLight mt-1 font-thin text-white md:text-md intersect-once transition motion-safe:opacity-0 motion-safe:intersect:animate-fade-in-up">
                  See every new word in your <br> chosen secondary dialect, <br> making it easier to compare <br> and connect across dialects <br> as you learn.
                </p>
              </div>

              <div class="w-[133px] ml-[180px] h-[42px] border-b-[1px] border-l-[1px] border-white"></div>


            </div>
          </div>



        </div>

      </div>



    </div>

  </section>

<style>
  .hide-scrollbar::-webkit-scrollbar {
  display: none;
}
  .hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* For iOS Safari */
  -webkit-overflow-scrolling: touch;
}
  /* Ensure snap points work correctly */
  .snap-mandatory {
  scroll-snap-type: x mandatory;
}
  .snap-start {
  scroll-snap-align: start;
}
</style>
