---
import WaitingListButton from "@components/ui/WaitingListButton.astro";
import Blobs from "src/assets/blobs.astro";

const buttonBaseClasses =
  "px-3 py-1 md:px-6 md:py-2 font-SpaceGroteskBold rounded-full border border-white text-[16px] md:text-[22px] transition-colors text-white hover:bg-[#222222]";
---

<section class="w-full rounded-t-3xl bg-[#272727] pt-2 text-white md:pt-[60px]">
  <div class="px-2 xl:container md:px-20 xl:mx-auto">
    <div
      class="md:glow relative flex items-center justify-between overflow-hidden rounded-2xl border-[#8262B0] bg-[#222222] text-start shadow-[0px_0px_8px_#C8AED340] md:h-[200px] md:border-2 lg:h-[160px]"
    >
      <p
        class="font-SpaceGroteskLight m-5 w-full align-middle text-lg font-thin text-gray-300 md:ml-10 lg:text-2xl"
      >
        <span class="font-Melodrama lg:text-3xl">50%</span> of learners struggle
        to find quality resources for{" "}
        <span class="font-SpaceGroteskBold font-bold"> Arabic dialects </span>{
          " "
        }
        , compared to just{" "}
        <span class="Melodrama lg:text-3xl">16%</span> for{" "}
        <span class="font-SpaceGroteskBold font-bold"> Standard Arabic </span>{
          " "
        }
        (Fusha).
      </p>
      <img
        src="/img/art221.png"
        alt="Our Team"
        class="absolute end-0 top-0 h-full rounded-lg object-contain md:relative md:mx-auto md:mt-0 md:w-[30%] md:max-w-md"
      />
    </div>

    <div
      class="flex h-auto w-full flex-col items-center justify-between gap-6 overflow-hidden px-5 md:flex-row md:px-0"
    >
      <div class="flex w-full flex-col py-5 text-start md:w-[50%] md:py-[60px]">
        <h3
          class="font-LivvicMedium intersect-once intersect-half motion-safe:intersect:animate-fade-in-up text-2xl font-bold transition motion-safe:opacity-0 md:text-5xl"
        >
          Our Team
        </h3>
        <p
          class="font-SpaceGroteskLight intersect-once intersect-half motion-safe:intersect:animate-fade-in-up mt-6 font-light text-[#D6D6D6] transition motion-safe:opacity-0 md:text-xl"
        >
          Aralects is being designed by a team of experts in{" "}
          <span class="font-SpaceGroteskBold font-medium md:text-white">
            linguistics, generative AI
          </span>{" "}
          , and{" "}
          <span class="font-SpaceGroteskBold font-medium md:text-white">
            contextual learning
          </span>{" "}
          who are determined to make Arabic learning engaging and authentic.
        </p>
        <p
          class="text-glow font-SpaceGroteskLight intersect-once intersect-half motion-safe:intersect:animate-fade-in-up mt-4 font-light text-[#EADFFF] transition motion-safe:opacity-0 md:text-xl"
        >
          We believe the best way to learn a language is to live it—and that's
          exactly the journey we're creating for you.
        </p>
      </div>

      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="387"
        height="331"
        viewBox="0 0 387 331"
        fill="none"
        class="hidden w-full object-contain md:block md:h-full md:w-[40%]"
      >
        <g opacity="0.15">
          <path
            d="M176.74 132.129C176.746 132.173 176.755 132.217 176.765 132.261C176.862 132.751 176.975 133.237 177.108 133.717C177.199 133.179 177.308 132.644 177.445 132.113C177.451 132.096 177.455 132.073 177.461 132.056C177.219 132.074 176.981 132.1 176.74 132.129ZM176.74 132.129C176.746 132.173 176.755 132.217 176.765 132.261C176.862 132.751 176.975 133.237 177.108 133.717C177.199 133.179 177.308 132.644 177.445 132.113C177.451 132.096 177.455 132.073 177.461 132.056C177.219 132.074 176.981 132.1 176.74 132.129ZM176.74 132.129C176.746 132.173 176.755 132.217 176.765 132.261C176.862 132.751 176.975 133.237 177.108 133.717C177.199 133.179 177.308 132.644 177.445 132.113C177.451 132.096 177.455 132.073 177.461 132.056C177.219 132.074 176.981 132.1 176.74 132.129ZM176.74 132.129C176.746 132.173 176.755 132.217 176.765 132.261C176.862 132.751 176.975 133.237 177.108 133.717C177.199 133.179 177.308 132.644 177.445 132.113C177.451 132.096 177.455 132.073 177.461 132.056C177.219 132.074 176.981 132.1 176.74 132.129ZM176.74 132.129C176.746 132.173 176.755 132.217 176.765 132.261C176.862 132.751 176.975 133.237 177.108 133.717C177.199 133.179 177.308 132.644 177.445 132.113C177.451 132.096 177.455 132.073 177.461 132.056C177.219 132.074 176.981 132.1 176.74 132.129ZM215.815 57.7737C208.571 59.9332 202.292 65.8724 202.313 73.3002C202.314 74.2467 202.418 75.1732 202.606 76.076C202.604 76.0774 202.605 76.0782 202.608 76.0784C202.962 77.2369 203.314 78.2977 203.675 79.2901C203.674 79.2986 203.678 79.3034 203.682 79.3123C203.906 79.7956 204.151 80.2721 204.42 80.7373C206.399 84.1663 209.567 87.0615 213.025 89.1522C211.367 86.7622 210.269 84.0744 210.064 81.1952C210.042 80.8814 210.03 80.5665 210.031 80.2482C210.011 73.2579 215.482 67.5623 222.142 65.0143C219.57 62.4762 217.478 59.9868 215.815 57.7737ZM176.74 132.129C176.746 132.173 176.755 132.217 176.765 132.261C176.862 132.751 176.975 133.237 177.108 133.717C177.199 133.179 177.308 132.644 177.445 132.113C177.451 132.096 177.455 132.073 177.461 132.056C177.219 132.074 176.981 132.1 176.74 132.129ZM176.74 132.129C176.746 132.173 176.755 132.217 176.765 132.261C176.862 132.751 176.975 133.237 177.108 133.717C177.199 133.179 177.308 132.644 177.445 132.113C177.451 132.096 177.455 132.073 177.461 132.056C177.219 132.074 176.981 132.1 176.74 132.129ZM176.74 132.129C176.746 132.173 176.755 132.217 176.765 132.261C176.862 132.751 176.975 133.237 177.108 133.717C177.199 133.179 177.308 132.644 177.445 132.113C177.451 132.096 177.455 132.073 177.461 132.056C177.219 132.074 176.981 132.1 176.74 132.129ZM176.74 132.129C176.746 132.173 176.755 132.217 176.765 132.261C176.862 132.751 176.975 133.237 177.108 133.717C177.199 133.179 177.308 132.644 177.445 132.113C177.451 132.096 177.455 132.073 177.461 132.056C177.219 132.074 176.981 132.1 176.74 132.129ZM176.74 132.129C176.746 132.173 176.755 132.217 176.765 132.261C176.862 132.751 176.975 133.237 177.108 133.717C177.199 133.179 177.308 132.644 177.445 132.113C177.451 132.096 177.455 132.073 177.461 132.056C177.219 132.074 176.981 132.1 176.74 132.129ZM176.74 132.129C176.746 132.173 176.755 132.217 176.765 132.261C176.862 132.751 176.975 133.237 177.108 133.717C177.199 133.179 177.308 132.644 177.445 132.113C177.451 132.096 177.455 132.073 177.461 132.056C177.219 132.074 176.981 132.1 176.74 132.129ZM176.74 132.129C176.746 132.173 176.755 132.217 176.765 132.261C176.862 132.751 176.975 133.237 177.108 133.717C177.199 133.179 177.308 132.644 177.445 132.113C177.451 132.096 177.455 132.073 177.461 132.056C177.219 132.074 176.981 132.1 176.74 132.129ZM176.74 132.129C176.746 132.173 176.755 132.217 176.765 132.261C176.862 132.751 176.975 133.237 177.108 133.717C177.199 133.179 177.308 132.644 177.445 132.113C177.451 132.096 177.455 132.073 177.461 132.056C177.219 132.074 176.981 132.1 176.74 132.129ZM176.74 132.129C176.746 132.173 176.755 132.217 176.765 132.261C176.862 132.751 176.975 133.237 177.108 133.717C177.199 133.179 177.308 132.644 177.445 132.113C177.451 132.096 177.455 132.073 177.461 132.056C177.219 132.074 176.981 132.1 176.74 132.129ZM284.973 60.2202C282.635 58.2938 280.226 56.4919 277.736 54.848C277.423 54.6412 277.106 54.4342 276.789 54.2315C270.792 50.4021 264.319 47.505 257.231 46.0234C242.102 42.8655 226.932 46.7385 212.389 52.7141L212.387 52.7118C207.693 54.6423 203.063 56.79 198.519 58.9901C196.681 59.8839 194.858 60.7813 193.048 61.6797C183.873 66.2289 174.267 70.6528 165.445 75.7713C165.103 75.9716 164.76 76.1718 164.421 76.3724C164.249 76.4713 164.078 76.5727 163.912 76.6743C163.742 76.7756 163.575 76.8772 163.405 76.9784C162.957 77.2484 162.513 77.5186 162.072 77.7912C161.844 77.929 161.619 78.0693 161.397 78.2098C161.117 78.3847 160.839 78.5619 160.561 78.7391C160.18 78.984 159.801 79.2269 159.424 79.4722C159.244 79.59 159.063 79.7077 158.885 79.8279C158.706 79.9482 158.528 80.0682 158.35 80.184C158.341 80.1877 158.336 80.1917 158.329 80.1976C158.11 80.3447 157.89 80.492 157.673 80.6415C157.455 80.7911 157.235 80.9425 157.018 81.0921C156.821 81.2281 156.624 81.3641 156.429 81.5024C156.234 81.6408 156.036 81.781 155.841 81.9193C155.66 82.0501 155.476 82.1828 155.294 82.3135C155.072 82.4756 154.846 82.644 154.623 82.8062C154.168 83.1425 153.716 83.4836 153.271 83.8275C153.128 83.9373 152.989 84.0476 152.849 84.1557C152.588 84.3579 152.331 84.5609 152.075 84.7678C151.74 85.0337 151.406 85.3061 151.077 85.5789C150.794 85.8122 150.511 86.0496 150.233 86.2874L150.184 86.329C139.492 95.4683 132.068 107.14 131.664 123.836C131.353 136.684 131.827 150.74 123.899 160.852C120.626 165.026 116.21 168.083 111.668 170.883C110.712 171.475 109.748 172.052 108.79 172.628C104.234 175.36 99.4771 178.191 94.7179 181.16C91.0404 183.459 87.3608 185.84 83.781 188.329L83.7787 188.331C75.0568 194.384 66.9023 201.065 60.6818 208.676L60.6796 208.678C56.5217 213.763 53.2274 219.263 51.2057 225.266C50.4983 227.363 49.9461 229.524 49.5685 231.749C48.4394 238.375 48.8436 245.58 51.2427 253.462C51.845 255.457 52.5782 257.492 53.4464 259.573C53.8428 260.531 54.2707 261.498 54.7285 262.472C57.0454 267.427 60.0224 271.979 63.5111 276.11C73.9902 288.537 89.0929 297.215 104.857 301.866C125.867 308.064 148.166 307.989 170.057 307.176C186.395 306.572 202.888 307.294 218.922 303.502C225.6 301.921 232.802 302.676 239.033 299.583C245.44 296.4 250.503 290.546 254.242 284.575C260.182 275.092 264.307 264.183 272.529 256.589C281.948 247.895 295.147 244.977 306.786 239.601C324.021 231.638 338.397 217.634 346.809 200.615C354.293 185.467 361.127 158.842 351.334 143.875C350.612 142.774 349.887 141.67 349.154 140.562C340.249 127.073 330.565 113.169 320.555 100.069C320.543 100.055 320.529 100.038 320.518 100.02C317.16 95.6288 313.765 91.3252 310.35 87.1588C302.612 77.723 294.377 67.973 284.973 60.2202ZM172.337 128.12C172.385 127.89 172.442 127.665 172.501 127.438C172.503 127.437 172.503 127.435 172.501 127.434C172.777 126.416 173.146 125.423 173.593 124.479C173.767 124.114 173.949 123.754 174.144 123.399C174.208 123.281 174.275 123.163 174.341 123.047C174.389 122.962 174.437 122.877 174.487 122.794C174.805 122.249 175.141 121.717 175.501 121.198C175.579 121.083 175.66 120.966 175.743 120.851C175.779 120.8 175.816 120.749 175.852 120.697C175.962 120.544 176.072 120.39 176.188 120.239C176.246 120.157 176.304 120.079 176.364 120.004C176.42 119.928 176.476 119.852 176.536 119.781C176.606 119.685 176.681 119.589 176.755 119.498C176.849 119.377 176.946 119.255 177.044 119.135C177.161 118.99 177.277 118.848 177.396 118.706C177.511 118.563 177.631 118.421 177.752 118.282C177.824 118.196 177.896 118.111 177.972 118.026C178.485 117.428 179.016 116.842 179.556 116.261C179.814 115.984 180.072 115.713 180.329 115.441C180.587 115.169 180.849 114.897 181.11 114.63C181.37 114.36 181.627 114.092 181.889 113.825C182.636 113.055 183.424 112.262 184.27 111.569C185.665 110.414 187.207 109.516 188.962 109.387C189.42 108.908 189.881 108.431 190.34 107.958C191.147 107.13 191.996 106.281 192.906 105.532C193.411 105.113 193.936 104.726 194.48 104.39C195.006 104.066 195.55 103.79 196.118 103.586C196.783 103.344 197.474 103.196 198.204 103.167C199.851 103.102 201.398 103.701 202.754 104.651C203.892 105.449 204.899 106.493 205.725 107.602C209.124 112.159 210.392 119.346 208.853 125.459C208.398 127.264 207.697 128.973 206.735 130.493C206.623 132.86 206.15 135.198 205.274 137.314C205.116 137.702 204.943 138.083 204.757 138.453C204.21 139.543 203.547 140.558 202.764 141.475C202.313 142 201.826 142.492 201.296 142.944L201.192 143.033C201.078 143.126 200.96 143.218 200.845 143.309C200.471 143.6 200.076 143.88 199.665 144.151C199.467 144.003 199.259 143.859 199.05 143.717C198.947 143.644 198.844 143.575 198.739 143.508C198.013 143.024 197.26 142.583 196.479 142.186C195.686 141.783 194.865 141.423 194.021 141.116C193.684 140.994 193.345 140.883 193.002 140.778C192.19 140.531 191.363 140.338 190.527 140.196C188.521 139.849 186.466 139.792 184.439 140.009C184.229 140.031 184.013 140.055 183.805 140.084C182.789 140.22 181.788 140.425 180.801 140.693C180.037 140.899 179.286 141.147 178.551 141.433C178.367 141.505 178.186 141.575 178.007 141.652C177.931 141.488 177.858 141.318 177.791 141.15C176.958 139.087 176.738 136.807 176.995 134.544C177.001 134.475 177.012 134.409 177.018 134.34C177.036 134.197 177.054 134.053 177.078 133.912C176.868 133.991 176.662 134.074 176.456 134.157C176.209 133.618 176.006 133.065 175.845 132.495C175.028 132.723 174.229 132.995 173.446 133.31C173.35 133.348 173.26 133.384 173.168 133.423C173.007 133.492 172.844 133.559 172.682 133.633C172.507 133.71 172.334 133.79 172.167 133.872C172.011 133.073 171.944 132.256 171.947 131.431C171.952 130.515 172.044 129.598 172.218 128.687C172.255 128.495 172.293 128.31 172.337 128.12ZM173.053 181.295C172.905 180.867 172.777 180.435 172.662 179.999C170.008 177.688 168.285 174.229 167.582 170.711C166.793 166.737 167.097 162.648 167.592 158.61C167.619 158.354 167.652 158.106 167.682 157.855C167.753 157.293 167.825 156.733 167.899 156.176C168.303 153.102 168.874 149.726 171.223 147.737L171.346 147.632C171.445 147.551 171.551 147.473 171.654 147.401C172.884 146.533 174.36 146.156 175.884 146.112C176.937 146.085 178.018 146.21 179.054 146.45C179.308 146.253 179.573 146.084 179.851 145.934C180.519 145.565 181.253 145.32 182.013 145.181C182.486 145.091 182.975 145.043 183.463 145.027C184.852 144.99 186.285 145.225 187.609 145.624C188.529 145.898 189.446 146.268 190.342 146.724C197.711 150.454 203.925 159.849 201.647 168.078C201.177 169.78 200.393 171.548 199.373 173.222C199.404 174.006 199.372 174.787 199.27 175.561C199.195 176.179 199.075 176.787 198.906 177.388C198.332 179.472 197.294 181.646 195.922 183.627C195.79 183.816 195.656 184.003 195.522 184.189C191.942 189.034 186.353 192.522 180.699 190.218C177.8 189.036 175.588 186.665 174.133 183.849C173.706 183.029 173.347 182.171 173.053 181.295ZM129.919 255.365C128.006 250.88 127.088 246.008 127.583 241.372C127.616 241.067 127.655 240.765 127.698 240.463C128.031 238.237 128.699 236.081 129.754 234.053C136.883 220.332 153.674 222.136 167.295 224.276C169.976 224.698 172.534 225.132 174.87 225.462C178.241 225.942 181.642 226.259 185.054 226.41C203.686 227.244 222.606 223.133 238.32 213.209C256.916 201.464 270.449 181.147 271.789 159.194C272.402 149.179 270.247 138.985 265.83 129.97C263.194 124.581 259.752 119.616 255.613 115.357C253.408 113.084 251.004 111.014 248.42 109.189C246.18 107.609 243.802 106.21 241.304 105.022C234.902 101.984 227.882 100.304 221.708 96.8263C218.354 94.9366 215.206 92.3006 213.025 89.1522C211.367 86.7622 210.269 84.0744 210.064 81.1952C210.042 80.8814 210.03 80.5665 210.031 80.2482C210.011 73.2579 215.482 67.5623 222.142 65.0143C224.261 64.2012 226.501 63.707 228.723 63.5928C237.924 63.1151 246.654 67.3538 254.775 71.7024C257.411 73.1131 260.065 74.5901 262.701 76.1373C267.695 79.06 272.642 82.2238 277.354 85.657C277.682 85.8953 278.009 86.1377 278.334 86.3779C288.085 93.6145 296.747 102.017 302.607 111.787C303.334 112.996 304.016 114.228 304.651 115.481C304.687 115.547 304.719 115.612 304.753 115.679C307.574 121.287 309.467 127.329 310.137 133.83C311.751 149.446 305.79 164.775 299.4 179.117C285.902 209.418 268.998 239.759 241.738 258.66C218.493 274.777 170.048 284.442 143.426 270.702C141.065 269.486 138.838 267.794 136.838 265.76L136.835 265.762C133.971 262.856 131.573 259.256 129.919 255.365ZM177.461 132.056C177.219 132.074 176.981 132.1 176.74 132.129C176.746 132.173 176.755 132.217 176.765 132.261C176.862 132.751 176.975 133.237 177.108 133.717C177.199 133.179 177.308 132.644 177.445 132.113C177.451 132.096 177.455 132.073 177.461 132.056ZM176.74 132.129C176.746 132.173 176.755 132.217 176.765 132.261C176.862 132.751 176.975 133.237 177.108 133.717C177.199 133.179 177.308 132.644 177.445 132.113C177.451 132.096 177.455 132.073 177.461 132.056C177.219 132.074 176.981 132.1 176.74 132.129ZM176.74 132.129C176.746 132.173 176.755 132.217 176.765 132.261C176.862 132.751 176.975 133.237 177.108 133.717C177.199 133.179 177.308 132.644 177.445 132.113C177.451 132.096 177.455 132.073 177.461 132.056C177.219 132.074 176.981 132.1 176.74 132.129ZM176.74 132.129C176.746 132.173 176.755 132.217 176.765 132.261C176.862 132.751 176.975 133.237 177.108 133.717C177.199 133.179 177.308 132.644 177.445 132.113C177.451 132.096 177.455 132.073 177.461 132.056C177.219 132.074 176.981 132.1 176.74 132.129ZM176.74 132.129C176.746 132.173 176.755 132.217 176.765 132.261C176.862 132.751 176.975 133.237 177.108 133.717C177.199 133.179 177.308 132.644 177.445 132.113C177.451 132.096 177.455 132.073 177.461 132.056C177.219 132.074 176.981 132.1 176.74 132.129ZM176.74 132.129C176.746 132.173 176.755 132.217 176.765 132.261C176.862 132.751 176.975 133.237 177.108 133.717C177.199 133.179 177.308 132.644 177.445 132.113C177.451 132.096 177.455 132.073 177.461 132.056C177.219 132.074 176.981 132.1 176.74 132.129ZM176.74 132.129C176.746 132.173 176.755 132.217 176.765 132.261C176.862 132.751 176.975 133.237 177.108 133.717C177.199 133.179 177.308 132.644 177.445 132.113C177.451 132.096 177.455 132.073 177.461 132.056C177.219 132.074 176.981 132.1 176.74 132.129ZM255.613 115.357C253.408 113.084 251.004 111.014 248.42 109.189C250.305 111.273 252.032 113.512 253.584 115.872C254.246 115.737 254.923 115.565 255.613 115.357ZM215.815 57.7737C208.571 59.9332 202.292 65.8724 202.313 73.3002C202.314 74.2467 202.418 75.1732 202.606 76.076C202.604 76.0774 202.605 76.0782 202.608 76.0784C202.962 77.2369 203.314 78.2977 203.675 79.2901C203.674 79.2986 203.678 79.3034 203.682 79.3123C203.906 79.7956 204.151 80.2721 204.42 80.7373C206.399 84.1663 209.567 87.0615 213.025 89.1522C211.367 86.7622 210.269 84.0744 210.064 81.1952C210.042 80.8814 210.03 80.5665 210.031 80.2482C210.011 73.2579 215.482 67.5623 222.142 65.0143C219.57 62.4762 217.478 59.9868 215.815 57.7737ZM176.74 132.129C176.746 132.173 176.755 132.217 176.765 132.261C176.862 132.751 176.975 133.237 177.108 133.717C177.199 133.179 177.308 132.644 177.445 132.113C177.451 132.096 177.455 132.073 177.461 132.056C177.219 132.074 176.981 132.1 176.74 132.129ZM176.74 132.129C176.746 132.173 176.755 132.217 176.765 132.261C176.862 132.751 176.975 133.237 177.108 133.717C177.199 133.179 177.308 132.644 177.445 132.113C177.451 132.096 177.455 132.073 177.461 132.056C177.219 132.074 176.981 132.1 176.74 132.129ZM176.74 132.129C176.746 132.173 176.755 132.217 176.765 132.261C176.862 132.751 176.975 133.237 177.108 133.717C177.199 133.179 177.308 132.644 177.445 132.113C177.451 132.096 177.455 132.073 177.461 132.056C177.219 132.074 176.981 132.1 176.74 132.129ZM176.74 132.129C176.746 132.173 176.755 132.217 176.765 132.261C176.862 132.751 176.975 133.237 177.108 133.717C177.199 133.179 177.308 132.644 177.445 132.113C177.451 132.096 177.455 132.073 177.461 132.056C177.219 132.074 176.981 132.1 176.74 132.129ZM176.74 132.129C176.746 132.173 176.755 132.217 176.765 132.261C176.862 132.751 176.975 133.237 177.108 133.717C177.199 133.179 177.308 132.644 177.445 132.113C177.451 132.096 177.455 132.073 177.461 132.056C177.219 132.074 176.981 132.1 176.74 132.129ZM176.74 132.129C176.746 132.173 176.755 132.217 176.765 132.261C176.862 132.751 176.975 133.237 177.108 133.717C177.199 133.179 177.308 132.644 177.445 132.113C177.451 132.096 177.455 132.073 177.461 132.056C177.219 132.074 176.981 132.1 176.74 132.129ZM176.765 132.261C176.862 132.751 176.975 133.237 177.108 133.717C177.199 133.179 177.308 132.644 177.445 132.113C177.219 132.158 176.992 132.207 176.765 132.261ZM185.054 226.41C203.686 227.244 222.606 223.133 238.32 213.209C256.916 201.464 270.449 181.147 271.789 159.194C272.402 149.179 270.247 138.985 265.83 129.97C263.194 124.581 259.752 119.616 255.613 115.357C253.408 113.084 251.004 111.014 248.42 109.189C250.305 111.273 252.032 113.512 253.584 115.872C256.362 120.088 258.583 124.695 260.185 129.513C262.477 136.403 263.504 143.727 263.062 150.955C261.742 172.547 248.43 192.534 230.138 204.084C218.406 211.493 204.863 215.608 191.003 216.806"
            fill="#A63F68"></path>
          <path
            d="M176.765 132.261C176.755 132.217 176.746 132.173 176.74 132.129C176.981 132.1 177.219 132.074 177.461 132.056C177.455 132.073 177.451 132.096 177.445 132.113M176.765 132.261C176.862 132.751 176.975 133.237 177.108 133.717C177.199 133.179 177.308 132.644 177.445 132.113M176.765 132.261C176.992 132.207 177.219 132.158 177.445 132.113M213.025 89.1522C209.567 87.0615 206.399 84.1663 204.42 80.7373C204.151 80.2721 203.906 79.7956 203.682 79.3123C203.678 79.3034 203.674 79.2986 203.675 79.2901C203.314 78.2977 202.962 77.2369 202.608 76.0784C202.605 76.0781 202.604 76.0774 202.606 76.076C202.418 75.1732 202.314 74.2467 202.313 73.3002C202.292 65.8724 208.571 59.9332 215.815 57.7737C217.478 59.9868 219.57 62.4762 222.142 65.0143M213.025 89.1522C211.367 86.7622 210.269 84.0744 210.064 81.1951C210.042 80.8814 210.03 80.5665 210.031 80.2482C210.011 73.2579 215.482 67.5623 222.142 65.0143M213.025 89.1522C215.206 92.3006 218.354 94.9366 221.708 96.8263C227.882 100.304 234.902 101.984 241.304 105.022C243.802 106.21 246.18 107.609 248.42 109.189M222.142 65.0143C224.261 64.2012 226.501 63.707 228.723 63.5928C237.924 63.1151 246.654 67.3538 254.775 71.7024C257.411 73.1131 260.065 74.5901 262.701 76.1373C267.695 79.06 272.642 82.2238 277.354 85.657C277.682 85.8953 278.009 86.1377 278.334 86.3779C288.085 93.6144 296.747 102.017 302.607 111.787C303.334 112.996 304.016 114.228 304.651 115.481C304.687 115.547 304.719 115.612 304.753 115.679C307.574 121.287 309.467 127.329 310.137 133.83C311.751 149.446 305.79 164.775 299.4 179.117C285.902 209.418 268.998 239.759 241.738 258.66C218.493 274.777 170.048 284.442 143.426 270.702C141.065 269.486 138.838 267.794 136.838 265.76L136.835 265.762C133.971 262.856 131.573 259.256 129.919 255.365C128.006 250.88 127.088 246.008 127.583 241.372C127.616 241.067 127.655 240.765 127.698 240.463C128.031 238.237 128.699 236.081 129.754 234.053C136.883 220.332 153.674 222.136 167.295 224.276C169.976 224.698 172.534 225.132 174.87 225.462C178.241 225.942 181.642 226.259 185.054 226.41C203.686 227.244 222.606 223.133 238.32 213.209C256.916 201.464 270.449 181.147 271.789 159.194C272.402 149.179 270.247 138.985 265.83 129.97C263.194 124.581 259.752 119.616 255.613 115.357M255.613 115.357C253.408 113.084 251.004 111.014 248.42 109.189M255.613 115.357C254.923 115.565 254.246 115.737 253.584 115.872M248.42 109.189C250.305 111.273 252.032 113.512 253.584 115.872M253.584 115.872C256.362 120.088 258.583 124.695 260.185 129.513C262.477 136.403 263.504 143.727 263.062 150.955C261.742 172.547 248.43 192.534 230.138 204.084C218.406 211.493 204.863 215.608 191.003 216.806M284.973 60.2202C282.635 58.2938 280.226 56.4919 277.736 54.848C277.423 54.6412 277.106 54.4342 276.789 54.2315C270.792 50.4021 264.319 47.505 257.231 46.0234C242.102 42.8655 226.932 46.7385 212.389 52.7141L212.387 52.7118C207.693 54.6423 203.063 56.79 198.519 58.9901C196.681 59.8839 194.858 60.7813 193.048 61.6797C183.873 66.2289 174.267 70.6528 165.445 75.7713C165.103 75.9716 164.76 76.1718 164.421 76.3724C164.249 76.4714 164.078 76.5727 163.912 76.6743C163.742 76.7756 163.575 76.8772 163.405 76.9784C162.957 77.2484 162.513 77.5186 162.072 77.7912C161.844 77.929 161.619 78.0693 161.397 78.2098C161.117 78.3847 160.839 78.5619 160.561 78.7391C160.18 78.984 159.801 79.2269 159.424 79.4722C159.244 79.5901 159.063 79.7077 158.885 79.8279C158.706 79.9482 158.528 80.0682 158.35 80.184C158.341 80.1877 158.336 80.1917 158.329 80.1976C158.11 80.3448 157.89 80.492 157.673 80.6415C157.455 80.7911 157.235 80.9425 157.018 81.0921C156.821 81.2281 156.624 81.364 156.429 81.5024C156.234 81.6408 156.036 81.781 155.841 81.9193C155.66 82.0501 155.476 82.1828 155.294 82.3135C155.072 82.4756 154.846 82.644 154.623 82.8062C154.168 83.1425 153.716 83.4836 153.271 83.8275C153.128 83.9373 152.989 84.0476 152.849 84.1557C152.588 84.3579 152.331 84.5609 152.075 84.7678C151.74 85.0337 151.406 85.3061 151.077 85.5789C150.794 85.8122 150.511 86.0496 150.233 86.2874L150.184 86.329C139.492 95.4683 132.068 107.14 131.664 123.836C131.353 136.684 131.827 150.74 123.899 160.852C120.626 165.026 116.21 168.083 111.668 170.883C110.712 171.475 109.748 172.052 108.79 172.628C104.234 175.36 99.4771 178.191 94.7179 181.16C91.0404 183.459 87.3608 185.84 83.781 188.329L83.7787 188.331C75.0568 194.384 66.9023 201.065 60.6818 208.676L60.6796 208.678C56.5217 213.763 53.2274 219.263 51.2057 225.266C50.4983 227.363 49.9461 229.524 49.5685 231.749C48.4394 238.375 48.8436 245.58 51.2427 253.462C51.845 255.457 52.5782 257.492 53.4464 259.573C53.8428 260.531 54.2707 261.498 54.7285 262.472C57.0454 267.427 60.0224 271.979 63.5111 276.11C73.9902 288.537 89.0929 297.215 104.857 301.866C125.867 308.064 148.166 307.989 170.057 307.176C186.395 306.572 202.888 307.294 218.922 303.502C225.6 301.921 232.802 302.676 239.033 299.583C245.44 296.4 250.503 290.546 254.242 284.575C260.182 275.092 264.307 264.183 272.529 256.589C281.948 247.895 295.147 244.977 306.786 239.601C324.021 231.638 338.397 217.634 346.809 200.615C354.293 185.467 361.127 158.842 351.334 143.875C350.612 142.774 349.887 141.67 349.154 140.562C340.249 127.073 330.565 113.169 320.555 100.069C320.543 100.055 320.529 100.038 320.518 100.02C317.16 95.6288 313.765 91.3252 310.35 87.1588C302.612 77.723 294.377 67.973 284.973 60.2202ZM172.337 128.12C172.385 127.89 172.442 127.665 172.501 127.438C172.503 127.437 172.503 127.435 172.501 127.434C172.777 126.416 173.146 125.423 173.593 124.479C173.767 124.114 173.949 123.754 174.144 123.399C174.208 123.281 174.275 123.163 174.341 123.047C174.389 122.962 174.437 122.877 174.487 122.794C174.805 122.249 175.141 121.717 175.501 121.198C175.579 121.083 175.66 120.966 175.743 120.851C175.779 120.8 175.816 120.749 175.852 120.697C175.962 120.544 176.072 120.39 176.188 120.239C176.246 120.157 176.304 120.079 176.364 120.004C176.42 119.928 176.476 119.852 176.536 119.781C176.606 119.685 176.681 119.589 176.755 119.498C176.849 119.377 176.946 119.255 177.044 119.135C177.161 118.99 177.277 118.848 177.396 118.706C177.511 118.563 177.631 118.421 177.752 118.282C177.824 118.196 177.896 118.111 177.972 118.026C178.485 117.428 179.016 116.842 179.556 116.261C179.814 115.984 180.072 115.713 180.329 115.441C180.587 115.169 180.849 114.897 181.11 114.63C181.37 114.36 181.627 114.092 181.889 113.825C182.636 113.055 183.424 112.262 184.27 111.569C185.665 110.414 187.207 109.516 188.962 109.387C189.42 108.908 189.881 108.431 190.34 107.958C191.147 107.13 191.996 106.281 192.906 105.532C193.411 105.113 193.936 104.726 194.48 104.39C195.006 104.066 195.55 103.79 196.118 103.586C196.783 103.344 197.474 103.195 198.204 103.167C199.851 103.102 201.398 103.701 202.754 104.651C203.892 105.449 204.899 106.493 205.725 107.602C209.124 112.159 210.392 119.346 208.853 125.459C208.398 127.264 207.697 128.973 206.735 130.493C206.623 132.86 206.15 135.198 205.274 137.314C205.116 137.702 204.943 138.083 204.757 138.453C204.21 139.543 203.547 140.558 202.764 141.475C202.313 142 201.826 142.492 201.296 142.944L201.192 143.033C201.078 143.126 200.96 143.218 200.845 143.309C200.471 143.6 200.076 143.88 199.665 144.151C199.467 144.003 199.259 143.859 199.05 143.717C198.947 143.644 198.844 143.575 198.739 143.508C198.013 143.024 197.26 142.583 196.479 142.186C195.686 141.783 194.865 141.423 194.021 141.116C193.684 140.994 193.345 140.883 193.002 140.778C192.19 140.531 191.363 140.338 190.527 140.196C188.521 139.849 186.466 139.792 184.439 140.009C184.229 140.031 184.013 140.055 183.805 140.084C182.789 140.22 181.788 140.425 180.801 140.693C180.037 140.899 179.286 141.147 178.551 141.433C178.367 141.505 178.186 141.575 178.007 141.652C177.931 141.488 177.858 141.318 177.791 141.15C176.958 139.087 176.738 136.807 176.995 134.544C177.001 134.475 177.012 134.409 177.018 134.34C177.036 134.197 177.054 134.053 177.078 133.912C176.868 133.991 176.662 134.074 176.456 134.157C176.209 133.618 176.006 133.065 175.845 132.495C175.028 132.723 174.229 132.995 173.446 133.31C173.35 133.348 173.26 133.384 173.168 133.423C173.007 133.492 172.844 133.559 172.682 133.633C172.507 133.71 172.334 133.79 172.167 133.872C172.011 133.073 171.944 132.256 171.947 131.431C171.952 130.515 172.044 129.598 172.218 128.687C172.255 128.495 172.293 128.31 172.337 128.12ZM173.053 181.295C172.905 180.867 172.777 180.435 172.662 179.999C170.008 177.688 168.285 174.229 167.582 170.711C166.793 166.737 167.097 162.648 167.592 158.61C167.619 158.354 167.652 158.106 167.682 157.855C167.753 157.293 167.825 156.733 167.899 156.176C168.303 153.102 168.874 149.726 171.223 147.737L171.346 147.632C171.445 147.551 171.551 147.473 171.654 147.401C172.884 146.533 174.36 146.156 175.884 146.112C176.937 146.085 178.018 146.21 179.054 146.45C179.308 146.253 179.573 146.084 179.851 145.934C180.519 145.565 181.253 145.32 182.013 145.181C182.486 145.091 182.975 145.043 183.463 145.027C184.852 144.99 186.285 145.225 187.609 145.624C188.529 145.898 189.446 146.268 190.342 146.724C197.711 150.454 203.925 159.849 201.647 168.078C201.177 169.78 200.393 171.548 199.373 173.222C199.404 174.006 199.372 174.787 199.27 175.561C199.195 176.179 199.075 176.787 198.906 177.388C198.332 179.472 197.294 181.646 195.922 183.627C195.79 183.816 195.656 184.003 195.522 184.189C191.942 189.034 186.353 192.522 180.699 190.218C177.8 189.036 175.588 186.665 174.133 183.849C173.706 183.029 173.347 182.171 173.053 181.295Z"
            stroke="black"
            stroke-width="0.129188"
            stroke-miterlimit="10"></path>
          <path
            d="M177.465 132.056C177.223 132.073 176.985 132.1 176.744 132.128C176.423 132.17 176.105 132.216 175.789 132.269C175.807 132.347 175.827 132.422 175.849 132.495C176.155 132.411 176.462 132.333 176.769 132.26C176.996 132.207 177.223 132.158 177.449 132.113C177.624 132.077 177.795 132.043 177.973 132.016C177.801 132.021 177.633 132.036 177.465 132.056ZM177.465 132.056C177.223 132.073 176.985 132.1 176.744 132.128C176.423 132.17 176.105 132.216 175.789 132.269C175.807 132.347 175.827 132.422 175.849 132.495C176.155 132.411 176.462 132.333 176.769 132.26C176.996 132.207 177.223 132.158 177.449 132.113C177.624 132.077 177.795 132.043 177.973 132.016C177.801 132.021 177.633 132.036 177.465 132.056ZM177.465 132.056C177.223 132.073 176.985 132.1 176.744 132.128C176.423 132.17 176.105 132.216 175.789 132.269C175.807 132.347 175.827 132.422 175.849 132.495C176.155 132.411 176.462 132.333 176.769 132.26C176.996 132.207 177.223 132.158 177.449 132.113C177.624 132.077 177.795 132.043 177.973 132.016C177.801 132.021 177.633 132.036 177.465 132.056ZM284.711 61.5826C282.439 59.2826 280.1 57.0724 277.683 54.9925C277.387 54.7352 277.091 54.4822 276.793 54.2312C269.802 48.3479 262.157 43.5648 253.565 40.89L253.563 40.8877C251.991 40.395 250.383 39.9774 248.742 39.6353C243.222 38.4813 237.694 38.2818 232.194 38.7841C224.177 39.5202 216.217 41.7528 208.417 44.7195C204.454 46.2226 200.537 47.9158 196.673 49.6997C192.928 51.4259 189.237 53.2344 185.608 55.0347C176.961 59.3223 167.922 63.4989 159.546 68.2694C154.299 71.2582 149.311 74.4823 144.848 78.1137C144.621 78.2993 144.394 78.4849 144.169 78.6728C143.945 78.8607 143.719 79.0487 143.499 79.2369C142.017 80.5013 140.598 81.8162 139.251 83.1865C139.029 83.4158 138.805 83.6472 138.585 83.8788C138.366 84.1105 138.148 84.3401 137.933 84.5765C137.494 85.0549 137.064 85.5385 136.644 86.0293C136.56 86.1287 136.472 86.2279 136.39 86.3297C135.934 86.8676 135.49 87.4149 135.056 87.9741C134.861 88.2249 134.67 88.4761 134.481 88.7298C134.289 88.9852 134.102 89.2412 133.917 89.4994C133.615 89.9216 133.32 90.3465 133.03 90.7783C132.897 90.9757 132.767 91.1755 132.638 91.3776C132.589 91.4517 132.54 91.5258 132.493 91.6021C132.391 91.7608 132.29 91.9195 132.19 92.0806C131.925 92.5079 131.663 92.9398 131.412 93.379C131.317 93.536 131.224 93.6998 131.136 93.8596C131.043 94.019 130.954 94.1831 130.865 94.3471C130.729 94.5962 130.594 94.8475 130.464 95.0993C130.354 95.305 130.247 95.513 130.143 95.7257C129.702 96.6004 129.288 97.4989 128.899 98.4167C128.793 98.6682 128.689 98.9177 128.588 99.1718C128.44 99.5432 128.296 99.9151 128.157 100.294C128.086 100.483 128.017 100.675 127.949 100.869C127.727 101.492 127.518 102.128 127.32 102.77C127.225 103.092 127.128 103.416 127.04 103.74C126.947 104.068 126.858 104.397 126.773 104.726L126.771 104.728C126.696 105.025 126.624 105.323 126.553 105.62C126.465 105.992 126.382 106.365 126.302 106.742C126.205 107.198 126.119 107.656 126.033 108.119C125.978 108.423 125.926 108.728 125.878 109.034C125.871 109.068 125.866 109.105 125.861 109.137C125.823 109.374 125.787 109.614 125.754 109.854C125.688 110.312 125.625 110.775 125.573 111.24C125.547 111.468 125.52 111.696 125.5 111.925L125.475 112.151C125.45 112.413 125.425 112.675 125.406 112.94C125.316 113.997 125.259 115.073 125.232 116.175C124.925 128.811 125.393 142.64 117.591 152.584C114.375 156.693 110.028 159.699 105.563 162.453C104.621 163.033 103.675 163.603 102.733 164.17C99.7459 165.96 96.6681 167.795 93.5623 169.687C92.7862 170.161 92.008 170.636 91.2294 171.116C91.0426 171.231 90.8559 171.346 90.6693 171.461C90.239 171.724 89.8087 171.991 89.3802 172.26C89.1662 172.39 88.9521 172.525 88.7355 172.662C88.1661 173.015 87.6006 173.373 87.0352 173.731C86.6316 173.987 86.228 174.243 85.8263 174.502C85.7238 174.565 85.619 174.63 85.5186 174.696C68.7886 185.419 52.6917 198.074 46.5258 214.706C44.9846 218.854 44.0643 223.256 43.9084 227.932C43.8708 229.036 43.8752 230.156 43.924 231.29C44.2126 237.819 45.9645 244.877 49.5501 252.546C49.7538 252.982 49.9622 253.414 50.1795 253.843C51.1617 255.822 52.2559 257.73 53.4506 259.572C57.2554 265.457 62.0576 270.643 67.5297 275.108C76.6247 282.531 87.573 287.964 98.8612 291.292C119.528 297.39 141.464 297.316 162.993 296.517C179.069 295.921 195.29 296.634 211.061 292.902C217.632 291.345 224.715 292.092 230.847 289.048C237.148 285.915 242.13 280.159 245.807 274.284C251.648 264.958 255.707 254.225 263.792 246.757C273.058 238.205 286.041 235.335 297.49 230.045C314.443 222.214 328.585 208.438 336.858 191.698C343.562 178.135 349.733 155.21 343.512 140.101C342.902 138.615 342.171 137.204 341.307 135.886C334.575 125.592 327.35 114.988 319.852 104.649L319.85 104.647C319.838 104.633 319.827 104.614 319.815 104.601L319.813 104.598C317.445 101.329 315.046 98.0898 312.629 94.8946L312.625 94.89C308.79 89.8217 304.909 84.8691 300.997 80.0959C295.86 73.8353 290.501 67.427 284.711 61.5826ZM296.965 111.326C298.928 115.932 300.252 120.819 300.788 126.005C302.372 141.366 296.511 156.445 290.222 170.552C276.947 200.358 260.319 230.203 233.506 248.794C212.395 263.428 170.156 272.658 143.188 263.352C140.947 262.579 138.809 261.677 136.799 260.639C134.319 259.36 131.989 257.547 129.923 255.365C126.181 251.426 123.302 246.288 121.943 240.913C121.938 240.894 121.931 240.871 121.929 240.85C120.541 235.319 120.773 229.542 123.353 224.588C131.746 208.44 153.745 214.156 167.732 216.141C170.359 216.511 173.006 216.786 175.66 216.957C180.769 217.29 185.912 217.244 191.008 216.806C204.868 215.607 218.411 211.493 230.142 204.084C248.434 192.534 261.746 172.546 263.066 150.955C263.508 143.726 262.481 136.403 260.19 129.512C258.587 124.695 256.366 120.088 253.588 115.872C252.036 113.512 250.31 111.272 248.424 109.189C246.184 107.608 243.806 106.209 241.308 105.022C234.906 101.983 227.886 100.304 221.712 96.826C218.358 94.9362 215.21 92.3002 213.029 89.1519C209.571 87.0611 206.403 84.166 204.424 80.737C204.156 80.2718 203.91 79.7953 203.686 79.3119C203.682 79.303 203.678 79.2982 203.679 79.2897C203.204 78.2581 202.841 77.1876 202.612 76.078C202.609 76.0778 202.609 76.077 202.61 76.0756C202.422 75.1729 202.318 74.2463 202.317 73.2998C202.296 65.8721 208.575 59.9329 215.819 57.7734C217.416 57.2935 219.064 56.9995 220.699 56.9168C229.754 56.4469 238.34 60.6201 246.329 64.8931C252.215 68.0424 258.174 71.5182 263.888 75.3642C268.605 78.5359 273.155 81.9583 277.358 85.6566C277.674 85.9329 277.985 86.213 278.297 86.4934C286.304 93.7045 292.957 101.93 296.965 111.326ZM192.835 102.702C193.993 102.709 195.102 103.04 196.122 103.586C196.463 103.764 196.796 103.971 197.114 104.193C198.25 104.993 199.259 106.035 200.085 107.144C201.689 109.291 202.815 112.023 203.4 114.952L203.402 114.954C204.422 120.072 203.778 125.79 201.09 130.035C200.523 130.936 199.864 131.767 199.109 132.515C198.952 132.806 198.784 133.09 198.606 133.37C198.058 134.243 197.419 135.041 196.68 135.756C196.626 135.71 196.566 135.664 196.511 135.623C196.259 135.963 195.989 136.286 195.706 136.599C195.682 136.58 195.657 136.561 195.633 136.541C195.37 136.328 195.103 136.122 194.833 135.924C194.43 135.625 194.017 135.339 193.594 135.074C193.492 135.161 193.386 135.244 193.282 135.328C192.917 135.616 192.527 135.892 192.122 136.157C191.789 135.912 191.448 135.677 191.102 135.451C189.69 134.524 188.174 133.759 186.57 133.173C183.827 132.178 180.88 131.81 177.973 132.016C177.801 132.021 177.633 132.036 177.465 132.056C177.223 132.073 176.985 132.1 176.744 132.128C176.423 132.17 176.105 132.216 175.789 132.269C175.807 132.347 175.827 132.422 175.849 132.495C175.032 132.723 174.233 132.995 173.45 133.31C173.354 133.348 173.264 133.384 173.173 133.422C173.011 133.492 172.848 133.559 172.686 133.633C172.511 133.71 172.338 133.789 172.171 133.871C172.016 133.073 171.948 132.255 171.951 131.431C171.956 130.515 172.048 129.597 172.222 128.686C171.857 126.377 171.494 124.066 171.132 121.754C171.132 121.754 171.13 121.752 171.132 121.75C171.239 121.499 171.351 121.25 171.468 121.006C171.583 120.759 171.704 120.52 171.831 120.283C172.209 119.55 172.625 118.843 173.073 118.155C175.07 115.071 177.679 112.367 180.254 109.717C182.244 107.669 184.504 105.492 187.264 105.072C188.83 103.775 190.57 102.78 192.562 102.706C192.653 102.705 192.742 102.701 192.835 102.702ZM169.023 147.675C170.205 146.727 171.649 146.289 173.157 146.194C173.197 146.161 173.241 146.123 173.283 146.091C174.404 145.191 175.763 144.737 177.19 144.608C177.399 144.59 177.613 144.576 177.823 144.569C179.21 144.529 180.645 144.767 181.969 145.166C181.984 145.169 182.001 145.175 182.017 145.181C183.418 145.603 184.811 146.253 186.146 147.08C192.856 151.236 198.134 159.934 196.005 167.618C195.534 169.324 194.753 171.09 193.733 172.763C192.476 174.823 190.854 176.741 188.997 178.221L188.993 178.225C188.407 178.757 187.792 179.249 187.157 179.686C184.889 181.525 182.264 182.714 179.518 182.713C179.167 182.716 178.813 182.696 178.463 182.653C177.746 182.575 177.029 182.412 176.309 182.156C176.089 182.138 175.866 182.112 175.642 182.075C174.92 181.968 174.191 181.767 173.465 181.472C173.327 181.417 173.191 181.357 173.057 181.294C171.839 180.736 170.754 179.964 169.799 179.033C169.455 178.7 169.126 178.343 168.82 177.966C167.771 176.698 166.926 175.223 166.3 173.662C165.872 172.595 165.543 171.491 165.321 170.379C165.27 170.126 165.227 169.874 165.184 169.621C165.185 169.617 165.183 169.615 165.183 169.615C164.455 165.159 165.044 160.571 165.633 156.082C166.037 153.004 166.61 149.622 169.023 147.675ZM177.465 132.056C177.223 132.073 176.985 132.1 176.744 132.128C176.423 132.17 176.105 132.216 175.789 132.269C175.807 132.347 175.827 132.422 175.849 132.495C176.155 132.411 176.462 132.333 176.769 132.26C176.996 132.207 177.223 132.158 177.449 132.113C177.624 132.077 177.795 132.043 177.973 132.016C177.801 132.021 177.633 132.036 177.465 132.056ZM177.465 132.056C177.223 132.073 176.985 132.1 176.744 132.128C176.423 132.17 176.105 132.216 175.789 132.269C175.807 132.347 175.827 132.422 175.849 132.495C176.155 132.411 176.462 132.333 176.769 132.26C176.996 132.207 177.223 132.158 177.449 132.113C177.624 132.077 177.795 132.043 177.973 132.016C177.801 132.021 177.633 132.036 177.465 132.056ZM176.744 132.128C176.75 132.172 176.759 132.216 176.769 132.26C176.996 132.207 177.223 132.158 177.449 132.113C177.455 132.096 177.459 132.072 177.465 132.056C177.223 132.073 176.985 132.1 176.744 132.128Z"
            fill="#DF9899"></path>
          <path
            d="M177.465 132.056C177.223 132.073 176.985 132.1 176.744 132.128M177.465 132.056C177.633 132.036 177.801 132.021 177.973 132.016M177.465 132.056C177.459 132.072 177.455 132.096 177.449 132.113M176.744 132.128C176.423 132.17 176.105 132.216 175.789 132.269C175.807 132.347 175.827 132.422 175.849 132.495M176.744 132.128C176.75 132.172 176.759 132.216 176.769 132.26M175.849 132.495C176.155 132.411 176.462 132.333 176.769 132.26M175.849 132.495C175.032 132.723 174.233 132.995 173.45 133.31C173.354 133.348 173.264 133.384 173.173 133.422C173.011 133.492 172.848 133.559 172.686 133.633C172.511 133.71 172.338 133.789 172.171 133.871C172.016 133.073 171.948 132.255 171.951 131.431C171.956 130.515 172.048 129.597 172.222 128.686C171.857 126.377 171.494 124.066 171.132 121.754C171.132 121.754 171.13 121.752 171.132 121.75C171.239 121.499 171.351 121.25 171.468 121.006C171.583 120.759 171.704 120.52 171.831 120.283C172.209 119.55 172.625 118.843 173.073 118.155C175.07 115.071 177.679 112.367 180.254 109.716C182.244 107.669 184.504 105.492 187.264 105.072C188.83 103.775 190.57 102.78 192.562 102.706C192.653 102.705 192.742 102.701 192.835 102.702C193.993 102.709 195.102 103.04 196.122 103.586C196.463 103.764 196.796 103.971 197.114 104.193C198.25 104.993 199.259 106.035 200.085 107.144C201.689 109.291 202.815 112.023 203.4 114.952L203.402 114.954C204.422 120.072 203.778 125.79 201.09 130.035C200.523 130.936 199.864 131.767 199.109 132.515C198.952 132.806 198.784 133.09 198.606 133.37C198.058 134.243 197.419 135.041 196.68 135.756C196.626 135.71 196.566 135.664 196.511 135.623C196.259 135.963 195.989 136.286 195.706 136.599C195.682 136.58 195.657 136.561 195.633 136.541C195.37 136.328 195.103 136.122 194.833 135.924C194.43 135.625 194.017 135.339 193.594 135.074C193.492 135.161 193.386 135.244 193.282 135.328C192.917 135.616 192.527 135.892 192.122 136.157C191.789 135.912 191.448 135.677 191.102 135.451C189.69 134.524 188.174 133.759 186.57 133.173C183.827 132.178 180.88 131.81 177.973 132.016M176.769 132.26C176.996 132.207 177.223 132.158 177.449 132.113M177.449 132.113C177.624 132.077 177.795 132.043 177.973 132.016M284.711 61.5826C282.439 59.2826 280.1 57.0724 277.683 54.9925C277.387 54.7352 277.091 54.4822 276.793 54.2312C269.802 48.3479 262.157 43.5648 253.565 40.89L253.563 40.8876C251.991 40.395 250.383 39.9774 248.742 39.6353C243.222 38.4813 237.694 38.2818 232.194 38.7841C224.177 39.5202 216.217 41.7528 208.417 44.7195C204.454 46.2226 200.537 47.9158 196.673 49.6997C192.928 51.4259 189.237 53.2344 185.608 55.0347C176.961 59.3223 167.922 63.4988 159.546 68.2694C154.299 71.2582 149.311 74.4823 144.848 78.1137C144.621 78.2993 144.394 78.4849 144.169 78.6728C143.945 78.8607 143.719 79.0487 143.499 79.2369C142.017 80.5013 140.598 81.8162 139.251 83.1865C139.029 83.4158 138.805 83.6472 138.585 83.8788C138.366 84.1105 138.148 84.3401 137.933 84.5764C137.494 85.0549 137.064 85.5385 136.644 86.0293C136.56 86.1287 136.472 86.2279 136.39 86.3297C135.934 86.8676 135.49 87.4149 135.056 87.9741C134.861 88.2249 134.67 88.4761 134.481 88.7298C134.289 88.9852 134.102 89.2412 133.917 89.4994C133.615 89.9216 133.32 90.3465 133.03 90.7783C132.897 90.9757 132.767 91.1755 132.638 91.3776C132.589 91.4517 132.54 91.5258 132.493 91.6021C132.391 91.7608 132.29 91.9195 132.19 92.0806C131.925 92.5079 131.663 92.9398 131.412 93.379C131.317 93.5361 131.224 93.6998 131.136 93.8596C131.043 94.019 130.954 94.1831 130.865 94.3471C130.729 94.5962 130.594 94.8475 130.464 95.0993C130.354 95.305 130.247 95.513 130.143 95.7257C129.702 96.6004 129.288 97.4989 128.899 98.4167C128.793 98.6682 128.689 98.9177 128.588 99.1718C128.44 99.5432 128.296 99.9151 128.157 100.294C128.086 100.483 128.017 100.675 127.949 100.869C127.727 101.492 127.518 102.128 127.32 102.77C127.225 103.092 127.128 103.416 127.04 103.74C126.947 104.068 126.858 104.397 126.773 104.726L126.771 104.728C126.696 105.025 126.624 105.323 126.553 105.62C126.465 105.992 126.382 106.365 126.302 106.742C126.205 107.198 126.119 107.656 126.033 108.119C125.978 108.423 125.926 108.728 125.878 109.034C125.871 109.068 125.866 109.105 125.861 109.137C125.823 109.374 125.787 109.614 125.754 109.854C125.688 110.312 125.625 110.775 125.573 111.24C125.547 111.468 125.52 111.696 125.5 111.925L125.475 112.151C125.45 112.413 125.425 112.675 125.406 112.94C125.316 113.997 125.259 115.073 125.232 116.175C124.925 128.811 125.393 142.64 117.591 152.584C114.375 156.693 110.028 159.699 105.563 162.453C104.621 163.033 103.675 163.603 102.733 164.17C99.7459 165.96 96.6681 167.795 93.5623 169.687C92.7862 170.161 92.008 170.636 91.2294 171.116C91.0426 171.231 90.8559 171.346 90.6693 171.461C90.239 171.724 89.8087 171.991 89.3802 172.26C89.1662 172.39 88.9521 172.525 88.7355 172.662C88.1661 173.015 87.6006 173.373 87.0352 173.731C86.6316 173.987 86.228 174.243 85.8263 174.502C85.7238 174.565 85.619 174.63 85.5186 174.696C68.7886 185.419 52.6917 198.074 46.5258 214.706C44.9846 218.854 44.0643 223.256 43.9084 227.932C43.8708 229.036 43.8752 230.156 43.924 231.29C44.2126 237.819 45.9645 244.877 49.5501 252.546C49.7538 252.982 49.9622 253.414 50.1795 253.843C51.1617 255.822 52.2559 257.73 53.4506 259.572C57.2554 265.457 62.0576 270.643 67.5297 275.108C76.6247 282.531 87.573 287.964 98.8612 291.292C119.528 297.389 141.464 297.316 162.993 296.517C179.069 295.921 195.29 296.634 211.061 292.902C217.632 291.345 224.715 292.092 230.847 289.048C237.148 285.915 242.13 280.159 245.807 274.284C251.648 264.958 255.707 254.225 263.792 246.757C273.058 238.205 286.041 235.334 297.49 230.045C314.443 222.214 328.585 208.438 336.858 191.698C343.562 178.135 349.733 155.21 343.512 140.101C342.902 138.615 342.171 137.204 341.307 135.886C334.575 125.592 327.35 114.988 319.852 104.649L319.85 104.647C319.838 104.633 319.827 104.614 319.815 104.601L319.813 104.598C317.445 101.329 315.046 98.0898 312.629 94.8946L312.625 94.89C308.79 89.8217 304.909 84.8691 300.997 80.0959C295.86 73.8353 290.501 67.427 284.711 61.5826ZM296.965 111.326C298.928 115.932 300.252 120.819 300.788 126.005C302.372 141.366 296.511 156.445 290.222 170.552C276.947 200.358 260.319 230.203 233.506 248.794C212.395 263.428 170.156 272.658 143.188 263.352C140.947 262.579 138.809 261.677 136.799 260.639C134.319 259.36 131.989 257.547 129.923 255.365C126.181 251.426 123.302 246.288 121.943 240.913C121.938 240.894 121.931 240.871 121.929 240.85C120.541 235.319 120.773 229.542 123.353 224.588C131.746 208.44 153.745 214.156 167.732 216.141C170.359 216.511 173.006 216.786 175.66 216.957C180.769 217.29 185.912 217.244 191.008 216.806C204.868 215.607 218.411 211.493 230.142 204.084C248.434 192.534 261.746 172.546 263.066 150.955C263.508 143.726 262.481 136.403 260.19 129.512C258.587 124.695 256.366 120.088 253.588 115.872C252.036 113.512 250.31 111.272 248.424 109.189C246.184 107.608 243.806 106.209 241.308 105.022C234.906 101.983 227.886 100.304 221.712 96.826C218.358 94.9362 215.21 92.3002 213.029 89.1519C209.571 87.0611 206.403 84.1659 204.424 80.737C204.156 80.2718 203.91 79.7953 203.686 79.3119C203.682 79.303 203.678 79.2982 203.679 79.2897C203.204 78.2581 202.841 77.1876 202.612 76.078C202.609 76.0778 202.609 76.077 202.61 76.0756C202.422 75.1729 202.318 74.2463 202.317 73.2998C202.296 65.8721 208.575 59.9329 215.819 57.7734C217.416 57.2935 219.064 56.9995 220.699 56.9168C229.754 56.4469 238.34 60.62 246.329 64.8931C252.215 68.0424 258.174 71.5182 263.888 75.3642C268.605 78.5359 273.155 81.9583 277.358 85.6566C277.674 85.9329 277.985 86.213 278.297 86.4934C286.304 93.7045 292.957 101.93 296.965 111.326ZM169.023 147.675C170.205 146.727 171.649 146.289 173.157 146.194C173.197 146.161 173.241 146.123 173.283 146.091C174.404 145.191 175.763 144.737 177.19 144.608C177.399 144.59 177.613 144.576 177.823 144.569C179.21 144.529 180.645 144.767 181.969 145.166C181.984 145.169 182.001 145.175 182.017 145.181C183.418 145.603 184.811 146.253 186.146 147.08C192.856 151.236 198.134 159.934 196.005 167.618C195.534 169.324 194.753 171.09 193.733 172.763C192.476 174.823 190.854 176.741 188.997 178.221L188.993 178.225C188.407 178.757 187.792 179.249 187.157 179.686C184.889 181.525 182.264 182.714 179.518 182.713C179.167 182.716 178.813 182.696 178.463 182.653C177.746 182.575 177.029 182.412 176.309 182.156C176.089 182.138 175.866 182.112 175.642 182.075C174.92 181.968 174.191 181.767 173.465 181.472C173.327 181.417 173.191 181.357 173.057 181.294C171.839 180.736 170.754 179.964 169.799 179.033C169.455 178.7 169.126 178.343 168.82 177.966C167.771 176.698 166.926 175.223 166.3 173.662C165.872 172.595 165.543 171.491 165.321 170.379C165.27 170.126 165.227 169.874 165.184 169.621C165.185 169.617 165.183 169.615 165.183 169.615C164.455 165.159 165.044 160.571 165.633 156.082C166.037 153.004 166.61 149.622 169.023 147.675Z"
            stroke="black"
            stroke-width="0.127075"
            stroke-miterlimit="10"></path>
          <path
            d="M296.957 111.342C298.921 115.948 300.245 120.835 300.781 126.021C302.364 141.382 296.503 156.461 290.215 170.568C276.94 200.374 260.311 230.219 233.498 248.81C212.387 263.444 170.149 272.674 143.18 263.368C140.939 262.595 138.801 261.693 136.792 260.655C134.311 259.376 131.982 257.563 129.915 255.381C128.003 250.896 127.085 246.024 127.58 241.387C127.613 241.082 127.652 240.78 127.695 240.478C128.027 238.252 128.696 236.096 129.751 234.068C136.88 220.348 153.67 222.152 167.292 224.291C169.972 224.714 172.53 225.148 174.867 225.478C178.238 225.957 181.639 226.274 185.051 226.425C203.683 227.26 222.603 223.149 238.317 213.224C256.913 201.48 270.446 181.163 271.785 159.21C272.399 149.194 270.243 139.001 265.826 129.986C263.191 124.597 259.749 119.631 255.609 115.373C253.405 113.1 251 111.03 248.416 109.205C246.176 107.624 243.799 106.225 241.301 105.038C234.899 101.999 227.879 100.32 221.705 96.8419C218.35 94.9522 215.202 92.3162 213.022 89.1678C211.363 86.7778 210.266 84.09 210.061 81.2108C210.038 80.897 210.026 80.5821 210.028 80.2638C210.007 73.2735 215.478 67.5779 222.138 65.0299C224.258 64.2168 226.497 63.7226 228.72 63.6084C237.92 63.1307 246.65 67.3694 254.772 71.718C257.408 73.1287 260.061 74.6057 262.698 76.1529C267.692 79.0756 272.639 82.2395 277.351 85.6726C277.667 85.9489 277.978 86.229 278.289 86.5094C286.296 93.7205 292.95 101.946 296.957 111.342Z"
            fill="#272727"
            stroke="#272727"
            stroke-width="0.127075"
            stroke-miterlimit="10"></path>
          <path
            d="M189.697 99.6075C188.533 99.8661 187.395 100.244 186.298 100.75C181.635 102.906 178.124 106.97 175.32 111.281C174.094 113.166 172.968 115.138 172.028 117.188C171.361 118.641 170.786 120.135 170.333 121.661C169.866 123.215 169.53 124.806 169.352 126.427C169.329 126.636 169.308 126.846 169.291 127.057C169.289 127.059 169.291 127.062 169.291 127.062C169.081 129.596 169.294 132.192 169.971 134.637C169.984 134.694 169.999 134.749 170.016 134.803C170.034 134.876 170.055 134.942 170.077 135.016C170.102 135.106 170.13 135.195 170.16 135.286C170.165 135.306 170.172 135.324 170.177 135.344C170.404 136.057 170.667 136.756 170.975 137.432C170.979 137.437 170.977 137.439 170.979 137.441C171.665 138.951 172.554 140.364 173.661 141.614C173.706 141.672 173.754 141.724 173.804 141.777C174.439 142.48 175.115 143.103 175.823 143.655C176.263 144.001 176.721 144.321 177.188 144.609C178.044 145.143 178.932 145.581 179.852 145.936C181.847 146.702 183.971 147.061 186.144 147.082C187.317 147.096 188.502 147.008 189.687 146.831C189.908 146.804 190.128 146.765 190.343 146.725C190.886 146.632 191.423 146.523 191.961 146.392C193.983 145.911 195.981 145.194 197.886 144.291C198.023 144.23 198.161 144.165 198.294 144.1C198.548 143.975 198.801 143.848 199.051 143.718C199.53 143.47 200.001 143.209 200.464 142.942C200.669 142.824 200.866 142.707 201.064 142.582C201.647 142.23 202.215 141.861 202.766 141.476C205.699 139.443 208.207 137.006 209.957 134.433C210.221 134.047 210.471 133.653 210.711 133.252C215.199 125.718 215.498 115.621 210.653 108.273C206.215 101.548 197.425 97.9021 189.697 99.6075ZM195.704 136.601C195.535 136.785 195.361 136.961 195.183 137.133C194.873 137.442 194.536 137.73 194.187 138.003C194.005 138.142 193.819 138.281 193.628 138.416C193.454 138.541 193.275 138.665 193.092 138.785C192.3 139.305 191.437 139.78 190.529 140.198C189.062 140.868 187.476 141.389 185.862 141.699C183.357 142.187 180.792 142.168 178.552 141.434C178.292 141.351 178.04 141.253 177.793 141.151C177.625 141.082 177.462 141.008 177.299 140.93C175.787 140.193 174.48 139.07 173.512 137.471C173.397 137.284 173.293 137.092 173.194 136.9C173.119 136.755 173.048 136.611 172.982 136.463C172.651 135.746 172.405 134.996 172.234 134.227C172.226 134.185 172.217 134.141 172.209 134.099C172.194 134.025 172.18 133.948 172.169 133.873C172.013 133.075 171.946 132.257 171.948 131.432C171.954 130.517 172.046 129.599 172.22 128.688C172.257 128.496 172.295 128.311 172.338 128.121C172.387 127.891 172.444 127.666 172.503 127.439C172.504 127.438 172.504 127.437 172.503 127.435C172.779 126.417 173.147 125.424 173.595 124.481C173.769 124.116 173.951 123.755 174.146 123.4C174.209 123.282 174.277 123.164 174.343 123.048C174.391 122.963 174.438 122.878 174.488 122.795C174.806 122.251 175.143 121.719 175.503 121.199C175.581 121.084 175.662 120.967 175.744 120.852L175.854 120.699C175.964 120.545 176.073 120.391 176.189 120.24C176.248 120.158 176.306 120.08 176.366 120.005C176.422 119.929 176.478 119.854 176.537 119.783C176.608 119.686 176.682 119.59 176.757 119.499C176.851 119.379 176.947 119.256 177.045 119.136C177.159 118.991 177.278 118.849 177.398 118.707C177.513 118.565 177.633 118.423 177.754 118.283C177.824 118.195 177.9 118.11 177.974 118.027C178.487 117.429 179.018 116.843 179.558 116.262C179.816 115.986 180.073 115.714 180.331 115.442C180.589 115.17 180.85 114.898 181.112 114.631C181.372 114.361 181.629 114.094 181.89 113.826C182.638 113.056 183.426 112.263 184.272 111.57C185.667 110.416 187.208 109.518 188.964 109.388C189.038 109.381 189.113 109.374 189.188 109.373C190.722 109.317 192.157 109.87 193.413 110.754C194.471 111.496 195.41 112.465 196.173 113.495C200.08 118.727 200.957 127.696 197.612 133.893C197.454 134.184 197.285 134.469 197.109 134.748C196.92 135.049 196.72 135.341 196.509 135.625C196.257 135.965 195.986 136.288 195.704 136.601Z"
            fill="#A63F68"
            stroke="black"
            stroke-width="0.129188"
            stroke-miterlimit="10"></path>
          <path
            d="M196.168 113.501C200.074 118.733 200.952 127.701 197.607 133.899C197.449 134.189 197.28 134.475 197.104 134.753C196.915 135.055 196.715 135.346 196.504 135.631C196.252 135.97 195.981 136.293 195.699 136.606C195.674 136.587 195.65 136.568 195.625 136.548C195.363 136.335 195.095 136.13 194.825 135.931C194.422 135.632 194.01 135.346 193.587 135.081C193.552 135.055 193.515 135.03 193.476 135.007C193.434 134.982 193.393 134.953 193.35 134.93C192.041 134.112 190.647 133.428 189.179 132.894C188.954 132.813 188.726 132.734 188.498 132.66C185.117 131.571 181.463 131.39 177.965 132.023C177.794 132.029 177.626 132.044 177.457 132.063C177.216 132.08 176.977 132.107 176.737 132.136C176.415 132.177 176.098 132.224 175.782 132.277C175.799 132.354 175.819 132.429 175.842 132.502C175.025 132.73 174.225 133.002 173.443 133.317C173.346 133.355 173.257 133.391 173.165 133.429C173.004 133.499 172.84 133.566 172.678 133.64C172.503 133.717 172.33 133.796 172.164 133.879C172.008 133.08 171.941 132.263 171.943 131.438C171.949 130.522 172.041 129.605 172.215 128.694C172.252 128.502 172.29 128.316 172.333 128.127C172.382 127.897 172.439 127.672 172.498 127.445C172.499 127.443 172.499 127.442 172.498 127.44C172.774 126.423 173.142 125.43 173.59 124.486C173.764 124.121 173.946 123.761 174.141 123.406C174.204 123.288 174.272 123.169 174.338 123.053C174.385 122.968 174.433 122.883 174.483 122.801C174.801 122.256 175.138 121.724 175.497 121.205C175.576 121.09 175.657 120.973 175.739 120.858L175.849 120.704C175.959 120.55 176.068 120.397 176.184 120.246C176.243 120.164 176.301 120.086 176.361 120.011C176.417 119.935 176.472 119.859 176.532 119.788C176.603 119.692 176.677 119.596 176.752 119.504C176.846 119.384 176.942 119.262 177.04 119.142C177.158 118.997 177.273 118.855 177.393 118.713C177.508 118.57 177.627 118.428 177.749 118.288C177.821 118.203 177.892 118.118 177.968 118.033C178.481 117.435 179.013 116.849 179.553 116.268C179.811 115.991 180.068 115.719 180.326 115.447C180.583 115.175 180.845 114.904 181.107 114.636C181.367 114.367 181.624 114.099 181.885 113.832C182.633 113.062 183.421 112.269 184.267 111.575C185.662 110.421 187.203 109.523 188.959 109.394C189.033 109.386 189.107 109.379 189.183 109.379C190.717 109.323 192.152 109.876 193.408 110.759C194.466 111.502 195.405 112.47 196.168 113.501Z"
            fill="#272727"
            stroke="black"
            stroke-width="0.129188"
            stroke-miterlimit="10"></path>
          <path
            d="M198.067 138.785C197.947 138.658 197.821 138.529 197.696 138.403C197.065 137.766 196.4 137.165 195.704 136.603C195.679 136.584 195.655 136.565 195.63 136.545C195.368 136.332 195.1 136.127 194.83 135.928C194.427 135.629 194.015 135.343 193.592 135.078C193.557 135.051 193.52 135.027 193.48 135.004C193.439 134.979 193.398 134.95 193.354 134.927C192.046 134.109 190.652 133.425 189.184 132.89C188.959 132.81 188.731 132.731 188.503 132.657C185.122 131.568 181.468 131.387 177.97 132.02C177.793 132.047 177.621 132.081 177.447 132.117C177.22 132.162 176.993 132.211 176.766 132.264C176.459 132.338 176.152 132.415 175.847 132.499C175.029 132.727 174.23 132.999 173.447 133.314C173.351 133.352 173.262 133.388 173.17 133.426C173.009 133.496 172.845 133.563 172.683 133.637C172.508 133.714 172.335 133.793 172.169 133.875C171.773 134.061 171.389 134.26 171.008 134.468C170.995 134.48 170.977 134.487 170.961 134.497C170.841 134.563 170.725 134.63 170.609 134.696C170.505 134.757 170.403 134.816 170.305 134.876C170.23 134.924 170.15 134.967 170.077 135.018C169.863 135.148 169.651 135.285 169.443 135.427C166.911 137.117 164.775 139.345 163.307 142.047C160.661 146.909 160.241 152.678 160.59 158.204C160.869 162.614 161.627 167.064 163.248 171.159C163.248 171.159 163.25 171.162 163.249 171.166C163.587 172.018 163.958 172.853 164.374 173.67C164.624 174.16 164.888 174.648 165.168 175.128C165.205 175.189 165.237 175.246 165.276 175.305C166 176.521 166.837 177.681 167.77 178.755C168.086 179.12 168.41 179.477 168.749 179.823C170.218 181.323 171.886 182.62 173.706 183.624C173.848 183.7 173.989 183.776 174.134 183.853C175.628 184.625 177.218 185.199 178.883 185.528C182.274 186.191 185.45 185.825 188.347 184.714C188.507 184.653 188.671 184.586 188.832 184.516C192.98 182.787 196.532 179.523 199.271 175.565C201.807 171.904 203.647 167.649 204.621 163.466C205.225 160.876 205.501 158.317 205.401 155.942C205.207 151.363 203.745 146.832 201.298 142.948C201.225 142.825 201.146 142.704 201.064 142.585C201.016 142.505 200.964 142.43 200.914 142.352C200.757 142.116 200.598 141.883 200.432 141.651C199.711 140.641 198.921 139.682 198.067 138.785ZM179.515 182.717C179.164 182.72 178.81 182.7 178.461 182.658C177.744 182.579 177.027 182.416 176.306 182.16C176.159 182.109 176.009 182.052 175.863 181.993C174.681 181.512 173.616 180.832 172.663 180.003C170.009 177.692 168.286 174.233 167.584 170.715C166.794 166.741 167.098 162.652 167.594 158.613C167.62 158.358 167.653 158.109 167.684 157.858C167.754 157.296 167.827 156.737 167.901 156.18C168.305 153.106 168.875 149.73 171.224 147.741L171.347 147.636C171.447 147.555 171.553 147.477 171.656 147.405C172.886 146.537 174.362 146.16 175.886 146.116C176.938 146.089 178.02 146.213 179.056 146.453C179.388 146.527 179.712 146.616 180.034 146.711C188.494 149.236 196.626 159.933 194.072 169.165C193.599 170.869 192.816 172.637 191.795 174.31C190.743 176.035 189.434 177.658 187.947 179.01L187.945 179.012C187.684 179.247 187.423 179.473 187.155 179.69C184.887 181.529 182.261 182.718 179.515 182.717Z"
            fill="#A63F68"
            stroke="black"
            stroke-width="0.129188"
            stroke-miterlimit="10"></path>
          <path
            d="M194.078 169.154C193.605 170.858 192.822 172.626 191.802 174.3C190.749 176.025 189.44 177.647 187.954 179L187.951 179.002C187.69 179.237 187.43 179.463 187.161 179.68C184.893 181.519 182.267 182.708 179.521 182.707C179.17 182.709 178.817 182.69 178.467 182.647C177.75 182.569 177.033 182.406 176.313 182.149C176.165 182.099 176.016 182.042 175.869 181.982C174.688 181.501 173.622 180.821 172.67 179.992C170.016 177.681 168.293 174.223 167.59 170.704C166.801 166.73 167.105 162.642 167.6 158.603C167.627 158.347 167.659 158.099 167.69 157.848C167.761 157.286 167.833 156.726 167.907 156.169C168.311 153.096 168.882 149.719 171.231 147.731L171.354 147.626C171.453 147.545 171.559 147.466 171.662 147.395C172.892 146.526 174.369 146.149 175.892 146.105C176.945 146.078 178.026 146.203 179.062 146.443C179.394 146.517 179.718 146.605 180.04 146.7C188.501 149.226 196.633 159.923 194.078 169.154Z"
            fill="#272727"
            stroke="black"
            stroke-width="0.129188"
            stroke-miterlimit="10"></path>
        </g>
      </svg>
    </div>
  </div>

  <Blobs class="-my-6 mx-auto w-[95%] object-cover md:my-12" />

  <div class="px-2 pb-2 md:px-20 md:pb-12">
    <div
      class="relative flex flex-col h-fit items-center justify-between overflow-hidden rounded-3xl border border-gray-700 bg-[#222222] py-5 text-center shadow-[rgba(17,_17,_26,_0.1)_0px_0px_10px] shadow-[#C8AED340] xl:container md:flex-row md:py-[60px] xl:mx-auto"
    >
      <div class="relative flex items-center justify-center px-8 md:px-0 mb-4 md:mb-0 md:w-1/2">
        <img
          src="/img/dialect-team.png"
          alt="dialect"
          class="intersect-once intersect-half motion-safe:intersect:animate-fade-in-up z-10 transition motion-safe:opacity-0"
        />

        {/* Buttons overlay on the image */}
        <div
          class="absolute inset-0 z-20 flex flex-col items-center justify-center pt-[90px] md:pt-[130px]"
        >
          <div class="mb-2 flex flex-wrap gap-2">
            <div
              class="intersect-once intersect-half motion-safe:intersect:animate-fade-in-up transition motion-safe:opacity-0"
            >
              <button
                data-dialect="LEVANTINE"
                class:list={[
                  "dialect-button",
                  "bg-transparent",
                  buttonBaseClasses,
                ]}
              >
                LEVANTINE
              </button>
            </div>
            <div
              class="intersect-once intersect-half motion-safe:intersect:animate-fade-in-up transition motion-safe:opacity-0"
            >
              <button
                data-dialect="EGYPTIAN"
                class:list={[
                  "dialect-button",
                  "bg-transparent",
                  buttonBaseClasses,
                ]}
              >
                EGYPTIAN
              </button>
            </div>
          </div>

          <div class="mb-2 flex gap-2">
            <div
              class="intersect-once intersect-half motion-safe:intersect:animate-fade-in-up transition motion-safe:opacity-0"
            >
              <button
                data-dialect="GULF"
                class:list={[
                  "dialect-button",
                  "bg-transparent",
                  buttonBaseClasses,
                ]}
              >
                GULF
              </button>
            </div>
            <div
              class="intersect-once intersect-half motion-safe:intersect:animate-fade-in-up transition motion-safe:opacity-0"
            >
              <button
                data-dialect="MAGHREBI"
                class:list={[
                  "dialect-button",
                  "bg-transparent",
                  buttonBaseClasses,
                ]}
              >
                MAGHREBI
              </button>
            </div>
          </div>

          <div>
            <div
              class="intersect-once intersect-half motion-safe:intersect:animate-fade-in-up transition motion-safe:opacity-0"
            >
              <button
                data-dialect="STANDARD ARABIC"
                class:list={[
                  "dialect-button",
                  "bg-transparent",
                  buttonBaseClasses,
                ]}
              >
                STANDARD ARABIC
              </button>
            </div>
          </div>
        </div>
      </div>
      <img
        src="/img/art224.png"
        alt=""
        class="absolute bottom-0 left-0 hidden h-[750px] object-contain md:block lg:h-full"
      />

      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="115"
        height="96"
        viewBox="0 0 115 96"
        fill="none"
        class="absolute left-0 top-0 w-[120px] md:hidden"
      >
        <g opacity="0.25">
          <path
            d="M-0.289822 28.511C-0.687584 43.9067 5.62138 58.8094 14.7673 69.3352C23.9132 79.8611 35.6555 86.4214 47.672 90.7739C58.9584 94.8619 71.1125 97.1319 82.4464 93.2475C102.8 86.272 116.288 58.6828 113.678 32.9009C111.067 7.11924 93.9832 -14.7866 73.5946 -21.6044C46.1268 -30.7895 0.794383 -13.4514 -0.289822 28.511Z"
            fill="#6C49A7"
            stroke="#1F1F1F"
            stroke-width="0.173713"
            stroke-miterlimit="10"></path>
          <path
            d="M79.9632 58.9722C80.7052 55.4699 80.8928 51.7018 80.7004 48.1133C79.4705 25.1773 61.1511 -1.65727 40.8113 -0.528801C24.3699 0.383385 2.57435 15.6496 5.60047 38.2158C7.27107 50.6737 15.6057 60.5821 25.0487 65.7642C34.4916 70.9463 45.0173 72.2045 55.3269 73.395C61.9958 74.1651 69.4103 74.6835 74.6558 69.6052C77.4084 66.9405 79.0792 63.1449 79.9632 58.9722Z"
            fill="#222222"
            stroke="#1F1F1F"
            stroke-width="0.173713"
            stroke-miterlimit="10"></path>
        </g>
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="67"
        height="97"
        viewBox="0 0 67 97"
        fill="none"
        class="absolute bottom-0 right-0 w-[120px] md:hidden"
      >
        <g opacity="0.25">
          <path
            d="M115.29 53.511C115.688 68.9067 109.379 83.8094 100.233 94.3352C91.0868 104.861 79.3445 111.421 67.328 115.774C56.0416 119.862 43.8875 122.132 32.5536 118.248C12.2002 111.272 -1.28772 83.6828 1.32248 57.9009C3.93265 32.1192 21.0168 10.2134 41.4054 3.39559C68.8732 -5.78954 114.206 11.5486 115.29 53.511Z"
            fill="#6C49A7"
            stroke="#1F1F1F"
            stroke-width="0.173713"
            stroke-miterlimit="10"></path>
          <path
            d="M35.0368 83.9722C34.2948 80.4699 34.1072 76.7018 34.2996 73.1133C35.5295 50.1773 53.8489 23.3427 74.1887 24.4712C90.6301 25.3834 112.426 40.6496 109.4 63.2158C107.729 75.6737 99.3943 85.5821 89.9513 90.7642C80.5084 95.9463 69.9827 97.2045 59.6731 98.395C53.0042 99.1651 45.5897 99.6835 40.3442 94.6052C37.5916 91.9405 35.9208 88.1449 35.0368 83.9722Z"
            fill="#222222"
            stroke="#1F1F1F"
            stroke-width="0.173713"
            stroke-miterlimit="10"></path>
        </g>
      </svg>

      <div
        class="relative flex h-full w-full flex-1 flex-col justify-center gap-4 px-4 text-start md:w-[50%] md:px-12"
      >
        <h4
          class="font-LivvicMedium intersect-once intersect-half motion-safe:intersect:animate-fade-in-up text-2xl font-bold transition motion-safe:opacity-0 md:text-6xl"
        >
          We're not just teaching Arabic
        </h4>
        <p
          class="font-SpaceGrotesk intersect-once intersect-half motion-safe:intersect:animate-fade-in-up font-thin text-gray-300 transition motion-safe:opacity-0 md:mt-6 md:text-xl"
        >
          We're building a global community where learners from all backgrounds
          can connect, share stories, and dive into the language in all its
          forms.
        </p>
        <p
          class="text-glow font-SpaceGrotesk intersect-once intersect-half motion-safe:intersect:animate-fade-in-up font-light text-[#EADFFF] transition motion-safe:opacity-0 md:mt-4 md:text-xl"
        >
          Start learning Arabic for free, with access to all the tools and
          lessons you need!
        </p>
        <div
          class="intersect-once intersect-half transition motion-safe:opacity-0 motion-safe:intersect:animate-fade-in-up"
        >
          <WaitingListButton
            text="Join waiting list"
            id="join-waiting-list-button"
            class="tex-lg transition-colors border border-[#8262b0] text-[#8262b0] bg-transparent shadow-md hover:bg-[#8262b0] hover:text-white md:mt-6 md:text-xl"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  import { cn } from "@repo/ui";
  import { smoothScrollTo } from "src/utils/newsletter";

  // State for selected dialects
  let selectedDialects: string[] = []; // Added type annotation

  // Get all dialect buttons
  const dialectButtons =
    document.querySelectorAll<HTMLButtonElement>(".dialect-button"); // Added type assertion

  // Function to handle dialect button clicks
  function handleDialectClick(
    dialect: string,
    buttonElement: HTMLButtonElement
  ) {
    // Added type annotations
    // Toggle selection
    if (selectedDialects.includes(dialect)) {
      selectedDialects = selectedDialects.filter((d) => d !== dialect);
    } else {
      selectedDialects = [...selectedDialects, dialect];
    }

    // Update button styles for all buttons
    updateButtonStyles();
  }

  // Function to update styles based on selection
  function updateButtonStyles() {
    dialectButtons.forEach((button: HTMLButtonElement) => {
      // Added type annotation
      const dialect = button.getAttribute("data-dialect");
      // Ensure dialect is not null before using it
      if (dialect === null) return;
      const isSelected = selectedDialects.includes(dialect);

      // Base classes (now applied directly to the button)
      const baseClasses =
        "px-3 py-1 md:px-6 md:py-2 font-SpaceGroteskBold rounded-full border border-white text-[16px] md:text-[22px] transition-colors text-white hover:bg-[#222222]";

      // Conditional classes (hover styles are applied directly here or via base hover)
      const conditionalClasses = isSelected
        ? "bg-[#252424] text-white hover:bg-[#252424]/80"
        : "hover:bg-[#222222] hover:text-[#fffff]";

      // Use cn to merge and apply classes
      // Make sure cn is available in the client-side scope or replace with manual class manipulation
      // Assuming cn is globally available or imported appropriately for client-side use
      // If not, replace the next line with manual classList add/remove logic
      button.className = cn(baseClasses, conditionalClasses);
    });
  }

  // Add event listeners to dialect buttons
  dialectButtons.forEach((button: HTMLButtonElement) => {
    // Added type annotation
    const dialect = button.getAttribute("data-dialect");
    if (dialect) {
      button.addEventListener("click", () =>
        handleDialectClick(dialect, button)
      );
    }
  });

  // Add event listener for the "Join waiting list" button
  const joinButton = document.getElementById(
    "join-waiting-list-button"
  ) as HTMLButtonElement | null; // Added type assertion
  if (joinButton) {
    // Ensure smoothScrollTo is correctly imported and available client-side
    joinButton.addEventListener("click", () =>
      smoothScrollTo("newsletter", 80)
    );
  }

  // Initial style update in case of pre-selected state (if needed later)
  // updateButtonStyles(); // Uncomment if initial state can be non-empty
</script>
