@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: KoRubbama;
  src: url("/fonts/Rubbama-Black.ttf");
}

.KoRubbama {
  font-family: KoRubbama;
}

@font-face {
  font-family: Melodrama;
  src: url("/fonts/Melodrama-Semibold.ttf");
}

.Melodrama {
  font-family: Melodrama;
}

@font-face {
  font-family: SpaceGrotesk;
  src: url("/fonts/SpaceGrotesk-Regular.ttf");
}

.SpaceGrotesk {
  font-family: SpaceGrotesk;
}

@font-face {
  font-family: SpaceGroteskBold;
  src: url("/fonts/SpaceGrotesk-Bold.ttf");
}

.SpaceGroteskBold {
  font-family: SpaceGroteskBold;
}

@font-face {
  font-family: UnboundedRegular;
  src: url("/fonts/Unbounded-Regular.ttf");
}
.UnboundedRegular {
  font-family: SpaceGroteskBold;
}

@font-face {
  font-family: SpaceGroteskLight;
  src: url("/fonts/SpaceGrotesk-Light.ttf");
}

.SpaceGroteskLight {
  font-family: SpaceGroteskLight;
}

html.lenis {
  height: auto;
  position: relative;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}



/* scroll bar styling */
/* width */
::-webkit-scrollbar {
  width: 3px;
  margin-right: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c3c1c7;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a07ed1;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

:root {
  --radius: 0.5rem;
}

html,
body {
  width: 100%;
  height: 100%;
  overscroll-behavior-x: none;
}

.contact-bg-pattern {
  background-image: url('/img/svg/Get_in_touch_bg.svg');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 50% 100%;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.info-card-bg-pattern {
  background-image: url('/img/svg/info_card_bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}
