---
import Footer from "@components/layout/Footer";
import Header from "@components/layout/Header";
import PostHog from "@components/posthog.astro";
import Gtm from "@components/gtm.astro";

import "./global.css";
const { title = "Aralects" } = Astro.props;

const home = Astro.url.pathname === "/";
---

<!doctype html>
<html lang="ar">
  <head>
    <Gtm />
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="theme-color" content="#8262B0" />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <PostHog />
  </head>
  <body class="min-h-dvh">
    <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TLRBDC3T"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <Header client:load />
    <slot />
    {home && <Footer client:visible />}
  </body>
</html>
