---
import { WipMarquee } from "./animated/wip-marquee";
import WipPhoneMockup from "./wip-phone-mockup.astro";
---

<!-- UnsubscribePage.astro -->
<div
  class="relative min-h-full flex overflow-hidden bg-[#8262b0] px-20 2xl:px-40 pb-4 pt-[78px] text-white"
>
  <!-- Rotating marquee backgrounds -->
  <div
    class="absolute -inset-x-32 top-[35%] z-0 h-fit origin-bottom-right rotate-[20deg] opacity-50 lg:top-[60%]"
  >
    <WipMarquee client:only />
  </div>
  <div
    class="absolute -inset-x-32 top-[20%] z-0 h-fit origin-top-right -rotate-[20deg] lg:top-1/3"
  >
    <WipMarquee client:only />
  </div>

  <!-- Main text content -->
  <div class="container mx-auto grid grid-cols-1 gap-8 lg:grid-cols-2">
    <div
      class="z-[1] order-2 mx-auto mb-8 flex max-w-[580px] flex-col items-left justify-center gap-8 text-center lg:order-none lg:mb-0 lg:text-left"
    >
      <h1 class="font-SpaceGroteskLight text-4xl font-semibold md:text-7xl">
        Sorry to see you go!
      </h1>
      <p class="font-SpaceGrotesk text-xl">
        We'll miss you, but we hope this isn't goodbye forever.
      </p>
      <p class="font-SpaceGrotesk text-xl">
        At Aralects, we’re working hard to create the most engaging way to master
        Arabic dialects--fun, immersive, and totally self-paced.
      </p>
      <p class="font-SpaceGrotesk text-xl">
        If you ever want to jump back in, we'll be here, ready to help you 
        level up your language skills. Until then, keep exploring, learning, 
        and growing! 🌟 
      </p>
      <p id="unsubscribe-status" class="text-gray-300"></p>
    </div>

    <!-- Phone mockup -->
    <div class="flex items-center justify-center lg:justify-end">
      <WipPhoneMockup />
    </div>
  </div>
</div>