---
import { cn } from "@repo/ui"; // If you still need this utility
import IphoneSvg from "src/assets/iphone-svg";
import { WipMarquee } from "./animated/wip-marquee";

// Destructure props from Astro.props
const { className = "", withWipMarquees = false } = Astro.props;
---

<!-- WipPhoneMockup.astro -->
<div class={className}>
  <div class="relative isolate py-[5px]">
    <!-- iPhone SVG -->
    <IphoneSvg className="h-[520px] w-[16.5rem]" />

    <!-- Screen Container -->
    <div
      class="absolute inset-5 -z-[1] flex overflow-hidden rounded-[1.95rem] bg-white shadow-[0px_10px_10px_rgb(0_0_0_/_0.4)]"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="141"
        height="145"
        viewBox="0 0 141 145"
        fill="none"
        class={cn(
          "z-[1] m-auto translate-x-2",
          withWipMarquees && "-translate-y-14"
        )}
      >
        <path
          d="M59.7256 24.952C26.7315 24.952 0 51.7255 0 84.7196C0 117.714 26.7736 144.487 59.7256 144.487C71.158 144.487 81.8758 141.251 90.9544 135.703L99.7389 144.487H119.493V84.7196C119.493 51.7255 92.7197 24.952 59.7256 24.952ZM67.2071 119.647H64.0128C56.9516 119.647 51.1934 113.889 51.1934 106.828V53.3227H59.6836C63.8446 53.3227 67.2071 56.6851 67.2071 60.8462V119.647Z"
          fill="#8262B0"></path>
        <path
          d="M109.059 16.0774V31.6548H114.203L116.499 29.3596C118.869 30.8109 121.653 31.6548 124.637 31.6548C133.232 31.6548 140.209 24.6831 140.209 16.0774C140.209 7.47167 133.232 0.5 124.631 0.5C116.031 0.5 109.059 7.47167 109.059 16.0774Z"
          fill="#F26B6D"></path>
      </svg>

      {
        withWipMarquees && (
          <>
            <div class="absolute -left-1/2 -right-1/2 top-[70%] origin-center -rotate-[30deg]">
              <WipMarquee className='text-lg py-2' client:only />
            </div>
            <div class="absolute -left-1/2 -right-1/2 top-[60%] origin-center rotate-[30deg]">
              <WipMarquee className='text-lg py-2' client:only />
            </div>
          </>
        )
      }
    </div>
  </div>
</div>
